<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <app-sub-header [title]="titleValue"></app-sub-header>
  <div class="terms-content w-700">
    <div class="terms-text">
      <h4 text-uppercase text-center>{{ 'terms_page.terms_text_head' | translate }}</h4>
      <p>{{ 'terms_page.terms_text_p1' | translate }}</p>
      <p>{{ 'terms_page.terms_text_p2' | translate }}</p>
      <p>{{ 'terms_page.terms_text_p3' | translate }}</p>
      <h6>{{ 'terms_page.terms_text_smallhead' | translate }}</h6>
      <p>{{ 'terms_page.terms_text_p4' | translate }}</p>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(1)" [class.active]="activeAccordion == 1">
        {{ 'terms_page.terms_accordion1_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 1">
        <p>{{ 'terms_page.terms_accordion1_p1' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion1_p2' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(2)" [class.active]="activeAccordion == 2">
        {{ 'terms_page.terms_accordion2_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 2">
        <p>{{ 'terms_page.terms_accordion2_p1' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion2_p2' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion2_p3' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion2_p4' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion2_p5' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(3)" [class.active]="activeAccordion == 3">
        {{ 'terms_page.terms_accordion3_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 3">
        <p>{{ 'terms_page.terms_accordion3_p1' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion3_p2' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion3_p3' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(4)" [class.active]="activeAccordion == 4">
        {{ 'terms_page.terms_accordion4_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 4">
        <p>{{ 'terms_page.terms_accordion4_p1' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion4_p2' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion4_p3' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion4_p4' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion4_p5' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion4_p6' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion4_p7' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion4_p8' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(5)" [class.active]="activeAccordion == 5">
        {{ 'terms_page.terms_accordion5_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 5">
        <p>{{ 'terms_page.terms_accordion5_p1' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion5_p2' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion5_p3' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion5_p4' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion5_p5' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion5_p6' | translate }}</p>
        <ul>
          <li>{{ 'terms_page.terms_accordion5_list1' | translate }}</li>
          <li>{{ 'terms_page.terms_accordion5_list2' | translate }}</li>
          <li>{{ 'terms_page.terms_accordion5_list3' | translate }}</li>
          <li>{{ 'terms_page.terms_accordion5_list4' | translate }}</li>
          <li>{{ 'terms_page.terms_accordion5_list5' | translate }}</li>
        </ul>
        <p>{{ 'terms_page.terms_accordion5_p7' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion5_p8' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion5_p9' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion5_p10' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion5_p11' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion5_p12' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion5_p13' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion5_p14' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion5_p15' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion5_p16' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(6)" [class.active]="activeAccordion == 6">
        {{ 'terms_page.terms_accordion6_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 6">
          <p>{{ 'terms_page.terms_accordion6_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(7)" [class.active]="activeAccordion == 7">
        {{ 'terms_page.terms_accordion7_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 7">
          <p>{{ 'terms_page.terms_accordion7_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(8)" [class.active]="activeAccordion == 8">
        {{ 'terms_page.terms_accordion8_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 8">
          <p>{{ 'terms_page.terms_accordion8_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(9)" [class.active]="activeAccordion == 9">
        {{ 'terms_page.terms_accordion9_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 9">
          <p>{{ 'terms_page.terms_accordion9_p1' | translate }}</p>
          <p>{{ 'terms_page.terms_accordion9_p2' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(10)" [class.active]="activeAccordion == 10">
        {{ 'terms_page.terms_accordion10_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 10">
        <p>{{ 'terms_page.terms_accordion10_p1' | translate }}
          <a href="mailto:info@pizzahut.me">info@pizzahut.me</a>
        </p>
        <p>{{ 'terms_page.terms_accordion10_p2' | translate }}</p>
      </div>
    </div>
  </div>
</ion-content>