.terms-text {
  padding: 30px 15px 0;
  p {
    margin: 0 0 10px;
    color: var(--ion-color-secondary-shade);
    font-size: 14px;
    line-height: 22px;
  }
  h6{
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: 700;
  }
  h4{
    font-size: 24px;
    margin: 0 0 10px;
    color: var(--ion-color-dark2);
  }
}