<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <app-sub-header [title]="titleValue"></app-sub-header>
  <div class="terms-content w-700">
    <div class="terms-text">
      <h4 text-uppercase text-center>{{ 'terms_page.terms_text_head' | translate }}</h4>
      <p>{{ 'terms_page.terms_text_p1' | translate }}</p>
      <p>{{ 'terms_page.terms_text_p2' | translate }}</p>
      <p>{{ 'terms_page.terms_text_p3' | translate }}</p>
      <h6>{{ 'terms_page.terms_text_smallhead' | translate }}</h6>
      <p>{{ 'terms_page.terms_text_p4' | translate }}</p>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(1)" [class.active]="activeAccordion == 1">
        {{ 'terms_page.terms_accordion01_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 1">
        <p>{{ 'terms_page.terms_accordion01_p1' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion01_p2' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(2)" [class.active]="activeAccordion == 2">
        {{ 'terms_page.terms_accordion02_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 2">
        <p>{{ 'terms_page.terms_accordion02_p1' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion02_p2' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion02_p3' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion02_p4' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion02_p5' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(3)" [class.active]="activeAccordion == 3">
        {{ 'terms_page.terms_accordion03_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 3">
        <p>{{ 'terms_page.terms_accordion03_p1' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion03_p2' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion03_p3' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(4)" [class.active]="activeAccordion == 4">
        {{ 'terms_page.terms_accordion04_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 4">
        <p>{{ 'terms_page.terms_accordion04_p1' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion04_p2' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion04_p3' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion04_p4' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion04_p5' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion04_p6' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion04_p7' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion04_p8' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(5)" [class.active]="activeAccordion == 5">
        {{ 'terms_page.terms_accordion05_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 5">
        <p>{{ 'terms_page.terms_accordion05_p01' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion05_p02' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion05_p03' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion05_p04' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion05_p05' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion05_p06' | translate }}</p>
        <ul>
          <li>{{ 'terms_page.terms_accordion05_list1' | translate }}</li>
          <li>{{ 'terms_page.terms_accordion05_list2' | translate }}</li>
          <li>{{ 'terms_page.terms_accordion05_list3' | translate }}</li>
          <li>{{ 'terms_page.terms_accordion05_list4' | translate }}</li>
          <li>{{ 'terms_page.terms_accordion05_list5' | translate }}</li>
        </ul>
        <p>{{ 'terms_page.terms_accordion05_p07' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion05_p08' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion05_p09' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion05_p10' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion05_p11' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion05_p12' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion05_p13' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion05_p14' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion05_p15' | translate }}</p>
        <p>{{ 'terms_page.terms_accordion05_p16' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(6)" [class.active]="activeAccordion == 6">
        {{ 'terms_page.terms_accordion06_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 6">
          <p>{{ 'terms_page.terms_accordion06_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(7)" [class.active]="activeAccordion == 7">
        {{ 'terms_page.terms_accordion07_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 7">
          <p>{{ 'terms_page.terms_accordion07_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(8)" [class.active]="activeAccordion == 8">
        {{ 'terms_page.terms_accordion08_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 8">
          <p>{{ 'terms_page.terms_accordion08_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(9)" [class.active]="activeAccordion == 9">
        {{ 'terms_page.terms_accordion09_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 9">
          <p>{{ 'terms_page.terms_accordion09_p1' | translate }}</p>
          <p>{{ 'terms_page.terms_accordion09_p2' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(10)" [class.active]="activeAccordion == 10">
        {{ 'terms_page.terms_accordion10_head1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 10">
        <p>{{ 'terms_page.terms_accordion10_p1' | translate }}
          <a href="mailto:info@pizzahut.me">info@pizzahut.me</a>
        </p>
        <p>{{ 'terms_page.terms_accordion10_p2' | translate }}</p>
      </div>
    </div>
  </div>
</ion-content>