<ion-header>
  <app-header [showUserIcon]="false" [showHalalTag]="false" [showLanguage]="false"></app-header>
</ion-header>
<ion-content class="page-bg">
  <app-sub-header [title]="titleValue"></app-sub-header>
  <div class="no-favorites" *ngIf="false" text-center>{{'favorites_page.no_favorites' | translate}}</div>
  <ion-row class="favorites-list">
    <ion-col size-lg="3" size-md="4" size-xs="6">
      <div class="favorite-item">
        <div class="icon icon-favourite-active"></div>
        <img src="assets/imgs/fav1.png" class="fav-img">
        <div class="fav-text">
          <h5>Foot Long Beef Lasagna</h5>
          <div class="price" text-right>
            <span>KD</span>
            <strong>2.500</strong>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size-lg="3" size-md="4" size-xs="6">
      <div class="favorite-item">
        <div class="icon icon-favourite-active"></div>
        <img src="assets/imgs/fav1.png" class="fav-img">
        <div class="fav-text">
          <h5>Foot Long Beef Lasagna</h5>
          <div class="price" text-right>
            <span>KD</span>
            <strong>2.500</strong>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size-lg="3" size-md="4" size-xs="6">
      <div class="favorite-item">
        <div class="icon icon-favourite-active"></div>
        <img src="assets/imgs/fav1.png" class="fav-img">
        <div class="fav-text">
          <h5>Foot Long Beef Lasagna</h5>
          <div class="price" text-right>
            <span>KD</span>
            <strong>2.500</strong>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size-lg="3" size-md="4" size-xs="6">
      <div class="favorite-item">
        <div class="icon icon-favourite-active"></div>
        <img src="assets/imgs/fav1.png" class="fav-img">
        <div class="fav-text">
          <h5>Foot Long Beef Lasagna</h5>
          <div class="price" text-right>
            <span>KD</span>
            <strong>2.500</strong>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size-lg="3" size-md="4" size-xs="6">
      <div class="favorite-item">
        <div class="icon icon-favourite-active"></div>
        <img src="assets/imgs/fav1.png" class="fav-img">
        <div class="fav-text">
          <h5>Foot Long Beef Lasagna</h5>
          <div class="price" text-right>
            <span>KD</span>
            <strong>2.500</strong>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size-lg="3" size-md="4" size-xs="6">
      <div class="favorite-item">
        <div class="icon icon-favourite-active"></div>
        <img src="assets/imgs/fav1.png" class="fav-img">
        <div class="fav-text">
          <h5>Foot Long Beef Lasagna</h5>
          <div class="price" text-right>
            <span>KD</span>
            <strong>2.500</strong>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size-lg="3" size-md="4" size-xs="6">
      <div class="favorite-item">
        <div class="icon icon-favourite-active"></div>
        <img src="assets/imgs/fav1.png" class="fav-img">
        <div class="fav-text">
          <h5>Foot Long Beef Lasagna</h5>
          <div class="price" text-right>
            <span>KD</span>
            <strong>2.500</strong>
          </div>
        </div>
      </div>
    </ion-col>
    <ion-col size-lg="3" size-md="4" size-xs="6">
      <div class="favorite-item">
        <div class="icon icon-favourite-active"></div>
        <img src="assets/imgs/fav1.png" class="fav-img">
        <div class="fav-text">
          <h5>Foot Long Beef Lasagna</h5>
          <div class="price" text-right>
            <span>KD</span>
            <strong>2.500</strong>
          </div>
        </div>
      </div>
    </ion-col>
  </ion-row>
</ion-content>