<ion-header>
  <app-header [showUserIcon]="false" [showHalalTag]="false" [showLanguage]="false"></app-header>
</ion-header>
<ion-content class="page-bg">
  <app-sub-header [title]="'favorites_page.my_favorites' | translate"></app-sub-header>
  <favorites-widget [componentId]="getComponentId()" [action]="favoritesWidgetAction">
    <ng-template let-widget="widget">
      <div *ngIf="!widget.model">
        <ion-grid>
          <ion-row>
            <ion-col *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]" class="product-card-holder" [sizeSm]="6" [sizeXs]="6"
                     [sizeMd]="4" [sizeLg]="3"
                     no-padding>
              <ion-card class="product-card non-deal-card" no-padding>
                <ion-card-header no-padding>
                  <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                </ion-card-header>

                <ion-card-content padding>
                  <ion-card-subtitle color="dark">
                    <div class="skeleton-warpper">
                      <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                    </div>
                  </ion-card-subtitle>
                  <div class="price-segment" text-end>
                    <div class="skeleton-warpper">
                      <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                    </div>
                  </div>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>

      <div *ngIf="widget.model !== undefined && widget.model.length === 0">
        <div class="no-favorites" *ngIf="false" text-center>{{'favorites_page.no_favorites' | translate}}</div>
      </div>

      <div *ngIf="widget.model !== undefined && widget.model.length !== 0">
        <ion-grid>
          <ion-row class="favorites-list">
            <ion-col class="product-card-holder favorite-item" *ngFor="let prod of widget.model" [sizeSm]="6"
                     [sizeXs]="6" [sizeMd]="4"
                     [sizeLg]="3" no-padding>
              <ion-card class="product-card non-deal-card" no-padding (click)="openProduct(prod?.client)">
                <div class="icon icon-favourite-active" [ngClass]="{'fav-progress': favoriteInProgress.get(prod.id)}" (click)="removeFavorite(prod?.client); $event.stopPropagation();">
                </div>
                <ion-card-header no-padding>
                  <img
                    class="card-fav-img" height="100"
                    loadingImage="assets/imgs/default/default.png"
                    img-preloader="{{getProductImageUrl(prod)}}"
                    defaultImage="assets/imgs/default/default.png"
                    alt="{{prod?.title}}"
                  />
                </ion-card-header>

                <div class="fav-text">
                  <h5>{{prod?.title}}</h5>
                  <p class="price" text-right>{{'category_listing.price_tag' | translate }}
                    <span>{{prod.webPrice | currency: currencyCode : (currencyCode + ' ') :'1.3-3'}}</span>
                  </p>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
    </ng-template>
  </favorites-widget>
</ion-content>
