<div class="full-height category-listing-page">
  <ion-hide-when size="lg">
    <ion-header>
      <app-header [showCart]="true" [showTime]="true" [headerClass]="'category-header'"></app-header>
    </ion-header>
  </ion-hide-when>
  <div class="content-with-backdrop">
    <div class="product-main-container">
      <div class="product-content">
        <ion-show-when size="lg">
          <ion-header class="top-header-container">
            <app-header [selectedCategoryId]="categoryId" (switchCategory)="switchCategories($event)" [showCart]="true" [showTime]="true"
              [headerClass]="'category-header'"></app-header>
          </ion-header>
        </ion-show-when>

        <navigation-widget [componentId]="getComponentId()" pfWidgetImpressionTrack [refCode]="'pwa-kuwait'" [level]=1 [executor]="null"
          [action]="null" (lifecycle)="null">
          <ng-template let-widget="widget">
          </ng-template>
        </navigation-widget>

        <div class="container showcase-container full-height">
          <!--<ion-content>-->
            <ion-hide-when size="lg">
            <!--<div class="mobile-show-location">-->
            <ion-item class="mobile-show-location" slot="start">
              <ion-label>
                <div class="delivey-show" (click)="goToPage('home')">
                  <div class="show-icon" [ngClass]="{'icon-delivery icon-bottom': getDeliveryMode() === deliveryModes.HOME_DELIVERY, 'icon-takeaway': getDeliveryMode() === deliveryModes.PICKUP}"></div>
                  <span class="show-text" text-capitalize>{{ 'header.mode' | translate }}:</span>
                  <small *ngIf="getDeliveryMode() === deliveryModes.HOME_DELIVERY" text-capitalize>{{ 'header.delivery' | translate }}
                  </small>
                  <small *ngIf="getDeliveryMode() === deliveryModes.PICKUP" text-capitalize>{{ 'header.take_away' | translate }}
                  </small>
                  <ion-icon class="show-icon icon-location-pin" name="pin"></ion-icon>
                  <span class="show-text" text-capitalize>{{ 'header.location' | translate }}:</span>
                  <small text-uppercase>{{getCurrentStore()?.address}}</small>
                </div>
              </ion-label>
              <ion-button slot="end" class="edit-btn" color="medium" mode="ios" (click)="goToPage('home')">{{ 'header.edit' | translate }}</ion-button>
            </ion-item>
          </ion-hide-when>
            <ng-container *ngFor="let item of navigations; let i = index;">
              <div [hidden]="!(item.categoryId === categoryId)" [id]="item.categoryId">
                <product-showcase-widget [componentId]="getComponentId()" [setSEOTags]=false pfWidgetImpressionTrack [filters]="getShowcaseFilter(item.categoryId)"
                  [executor]="productShowcaseWidgetExecutor" [action]="productShowcaseActionMap.get(item.categoryId)">
                  <ng-template let-widget="widget">
                    <div *ngIf="widget.model == undefined">
                      <div *ngIf="categoryId === dealCategoryId">
                        <ion-grid>
                          <ion-row>
                            <ion-col *ngFor="let i of [1, 2, 3, 4, 5, 6]" class="product-card-holder" [sizeXl]="4" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
                              <ion-card no-margin no-padding no-border class="product-card deal-card">
                                <ion-card-header>
                                  <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                                </ion-card-header>
                                <ion-card-content>
                                  <div class="skeleton-warpper">
                                    <ion-skeleton-text class="skeleton-text h2-skeleton"></ion-skeleton-text>
                                  </div>
                                  <div class="skeleton-warpper">
                                    <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                                  </div>
                                </ion-card-content>
                              </ion-card>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                      <div *ngIf="categoryId !== dealCategoryId">
                        <ion-grid>
                          <ion-row>
                            <ion-col *ngFor="let i of [1, 2, 3, 4, 5, 6, 7, 8, 9]" class="product-card-holder" [sizeSm]="6" [sizeXs]="6" [sizeMd]="4"
                              [sizeLg]="3" no-padding>
                              <ion-card class="product-card non-deal-card" no-padding>
                                <ion-card-header no-padding>
                                  <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                                </ion-card-header>

                                <ion-card-content padding>
                                  <ion-card-subtitle color="dark">
                                    <div class="skeleton-warpper">
                                      <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                                    </div>
                                  </ion-card-subtitle>
                                  <div class="price-segment" text-end>
                                    <div class="skeleton-warpper">
                                      <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                                    </div>
                                  </div>
                                </ion-card-content>
                              </ion-card>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                    </div>
                    <div *ngIf="widget.model != undefined && widget.model.length">
                      <seo-info-widget [componentId]="getComponentId()" [pushInfo]=false [refId]='item.categoryId' [type]=seoEntityType></seo-info-widget>
                      <ion-hide-when size="lg">
                        <div class="ribbon">
                          <div class="ribbon__side--left">
                            <span></span>
                          </div>
                          <div class="ribbon__side--title" text-uppercase>
                            <span class="cond caps">{{categoryNamesById.get(categoryId)}}</span>
                          </div>
                          <div class="ribbon__side--right">
                            <span></span>
                          </div>
                          <div class="ribbon__shadow">
                            <span></span>
                          </div>
                        </div>
                      </ion-hide-when>
                      <ion-show-when size="lg">
                        <div class="common-heading-dotted" text-center>
                          <h2 text-uppercase no-margin>{{categoryNamesById.get(categoryId)}}</h2>
                        </div>
                      </ion-show-when>
                      <div *ngIf="categoryId === dealCategoryId">
                        <ion-grid>
                          <ion-row>
                            <ion-col class="product-card-holder" *ngFor="let prod of widget.model; let idx=index" [sizeXl]="4" [sizeMd]="6" [sizeSm]="6"
                              [sizeXs]="12">
                              <ion-card no-margin no-padding no-border class="product-card deal-card" [pfProductClickTrack]="{products:[prod], position:idx}"
                                (click)="openDeal(prod?.client)">
                                <ion-card-header>
                                  <img height="170" src="{{getProductImageUrl(prod)}}" img-preloader="{{getProductImageUrl(prod)}}" defaultImage="assets/imgs/default/default.png"
                                    loadingImage="assets/imgs/default/default.png" alt="{{prod?.title}}" />
                                </ion-card-header>
                                <ion-card-content>
                                  <p class="deal-item-name">{{prod.title}}</p>
                                  <p class="deal-item-desc">{{prod.shortDescription}}</p>
                                </ion-card-content>
                              </ion-card>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                      <div *ngIf="categoryId !== dealCategoryId">
                        <ion-grid>
                          <ion-row>
                            <ion-col class="product-card-holder" *ngFor="let prod of widget.model; let idx=index" [sizeSm]="6" [sizeXs]="6" [sizeMd]="4"
                              [sizeLg]="3" no-padding>
                              <ion-card class="product-card non-deal-card" no-padding [pfProductClickTrack]="{products:[prod], position:idx}" (click)="openProductDetails(prod?.client)">
                                <div *ngIf="isLoggedIn()" class="icon" [ngClass]="{'icon-favourite-active': prod?.isFavorite,'icon-favourite': !prod?.isFavorite, 'fav-progress': favoriteInProgress.get(prod.id)}"
                                  (click)="updateFavorites(prod?.isFavorite, prod?.client); $event.stopPropagation();"></div>
                                <ion-card-header no-padding>
                                  <img height="100" src="{{getProductImageUrl(prod)}}" img-preloader="{{getProductImageUrl(prod)}}" defaultImage="assets/imgs/default/default.png"
                                       [parentId]="item.categoryId" loadingImage="assets/imgs/default/default.png" alt="{{prod?.title}}" />
                                </ion-card-header>

                                <ion-card-content padding>
                                  <ion-card-subtitle class="product-title" color="dark">{{prod.title}}
                                  </ion-card-subtitle>
                                  <div class="price-segment" text-end>
                                    <p>{{'category_listing.price_tag' | translate }}
                                      <span class="label-price">{{prod.webPrice | currency: currencyCode : (currencyCode + ' ') :'1.3-3'}}</span>
                                    </p>
                                  </div>
                                </ion-card-content>
                              </ion-card>
                            </ion-col>
                          </ion-row>
                        </ion-grid>
                      </div>
                    </div>
                  </ng-template>
                </product-showcase-widget>
              </div>
            </ng-container>
          <!--</ion-content>-->
        </div>
      </div>
      <ion-show-when size="lg">
        <div class="sidebar-cart">
          <div class="fixed-sidebar">
            <app-cart (switchCategory)="switchCategories($event)"></app-cart>
          </div>
        </div>
      </ion-show-when>
    </div>
  </div>
  <ion-hide-when size="lg">
    <ion-footer no-border >
      <div id="bottom-div" class="showcase-tabs-one">
        <ul id="bottom-list" no-margin no-padding>
          <li id={{item.categoryId}} *ngFor="let item of navigations; let i = index;" text-center class="hello" [class.selected]="item.categoryId==categoryId"
            (click)="switchCategories({category: item.name, id: item.categoryId})">{{item.name}}
          </li>
        </ul>
      </div>
      <div id="bottom-div" class="showcase-tabs-one" *ngIf="!showCheckout">
        <ul id="bottom-list" no-margin no-padding>
          <li id="dummy" *ngFor="let item of [1,2,3,4]; let i = index;" text-center class="hello">Deals</li>
        </ul>
      </div>
      <div class="checkout-btn" >
        <ion-button (click)="goToCart()" color="success" text-capitalize expand="block" mode="ios" class="btn-success">
          {{'category_listing.checkout' | translate }}
        </ion-button>
      </div>
    </ion-footer>
  </ion-hide-when>
</div>
