<ion-hide-when size="lg">
  <ion-header>
    <app-header [showCart]="true" [showTime]="true" [headerClass]="'category-header'"></app-header>
  </ion-header>
</ion-hide-when>
<ion-content class="content-with-backdrop">
  <div class="product-main-container">
    <div class="product-content">
      <ion-show-when size="lg">
        <ion-toolbar class="top-header-container">
          <app-header [showCart]="true" [showTime]="true" [headerClass]="'category-header'"></app-header>
        </ion-toolbar>
      </ion-show-when>
      <ion-toolbar class="tabs-nav-head">
        <div class="container">
          <navigation-widget [componentId]="getComponentId()" pfWidgetImpressionTrack [refCode]="'pwa-kuwait'" [level]=1
                             [executor]="null"
                             [action]="null" (lifecycle)="null">
            <ng-template let-widget="widget">
              <div *ngIf="widget.model">
                <ion-tabs [scrollable]="true" [color]="'dark'" [tabbarHighlight]="true" [useRouter]="true">
                  <ion-tab *ngFor="let item of widget.model.items" label="{{item.name}}"
                           [selected]="item.categoryId === categoryId" [active]="item.categoryId === categoryId"
                           href="/product/{{item.name}}/{{item.categoryId}}">
                    <ion-router-outlet stack name="{{item.name}}"></ion-router-outlet>
                  </ion-tab>
                </ion-tabs>
              </div>
            </ng-template>
          </navigation-widget>
        </div>
      </ion-toolbar>

      <div class="container showcase-container">
        <product-showcase-widget [componentId]="getComponentId()" pfWidgetImpressionTrack [categories]="[categoryId]"
                                 [executor]="productShowcaseWidgetExecutor"
                                 [action]="productShowcaseWidgetAction" [useMJData]=true [from]="1" [limit]="100">
          <ng-template let-widget="widget">
            <div *ngIf="widget.model == undefined">
              <div *ngIf="categoryName.toLocaleLowerCase() === 'deals'">
                <ion-grid>
                  <ion-row>
                    <ion-col class="product-card-holder" [sizeXl]="4" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
                      <ion-card no-margin no-padding no-border class="product-card deal-card">
                        <ion-card-header>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>
                        <ion-card-content>
                          <div class="skeleton-warpper">
                            <ion-skeleton-text class="skeleton-text h2-skeleton"></ion-skeleton-text>
                          </div>
                          <div class="skeleton-warpper">
                            <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                    <ion-col class="product-card-holder" [sizeXl]="4" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
                      <ion-card no-margin no-padding no-border class="product-card deal-card">
                        <ion-card-header>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>
                        <ion-card-content>
                          <div class="skeleton-warpper">
                            <ion-skeleton-text class="skeleton-text h2-skeleton"></ion-skeleton-text>
                          </div>
                          <div class="skeleton-warpper">
                            <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                    <ion-col class="product-card-holder" [sizeXl]="4" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
                      <ion-card no-margin no-padding no-border class="product-card deal-card">
                        <ion-card-header>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>
                        <ion-card-content>
                          <div class="skeleton-warpper">
                            <ion-skeleton-text class="skeleton-text h2-skeleton"></ion-skeleton-text>
                          </div>
                          <div class="skeleton-warpper">
                            <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                    <ion-col class="product-card-holder" [sizeXl]="4" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
                      <ion-card no-margin no-padding no-border class="product-card deal-card">
                        <ion-card-header>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>
                        <ion-card-content>
                          <div class="skeleton-warpper">
                            <ion-skeleton-text class="skeleton-text h2-skeleton"></ion-skeleton-text>
                          </div>
                          <div class="skeleton-warpper">
                            <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                    <ion-col class="product-card-holder" [sizeXl]="4" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
                      <ion-card no-margin no-padding no-border class="product-card deal-card">
                        <ion-card-header>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>
                        <ion-card-content>
                          <div class="skeleton-warpper">
                            <ion-skeleton-text class="skeleton-text h2-skeleton"></ion-skeleton-text>
                          </div>
                          <div class="skeleton-warpper">
                            <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                    <ion-col class="product-card-holder" [sizeXl]="4" [sizeMd]="6" [sizeSm]="6" [sizeXs]="12">
                      <ion-card no-margin no-padding no-border class="product-card deal-card">
                        <ion-card-header>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>
                        <ion-card-content>
                          <div class="skeleton-warpper">
                            <ion-skeleton-text class="skeleton-text h2-skeleton"></ion-skeleton-text>
                          </div>
                          <div class="skeleton-warpper">
                            <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div *ngIf="categoryName.toLocaleLowerCase() !== 'deals'">
                <ion-grid>
                  <ion-row>
                    <ion-col class="product-card-holder" [sizeSm]="6" [sizeXs]="6" [sizeMd]="4" [sizeLg]="3" no-padding>
                      <ion-card class="product-card non-deal-card" no-padding>
                        <ion-card-header no-padding>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>

                        <ion-card-content padding>
                          <ion-card-subtitle color="dark">
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </ion-card-subtitle>
                          <div class="price-segment" text-end>
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                    <ion-col class="product-card-holder" [sizeSm]="6" [sizeXs]="6" [sizeMd]="4" [sizeLg]="3" no-padding>
                      <ion-card class="product-card non-deal-card" no-padding>
                        <ion-card-header no-padding>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>

                        <ion-card-content padding>
                          <ion-card-subtitle color="dark">
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </ion-card-subtitle>
                          <div class="price-segment" text-end>
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                    <ion-col class="product-card-holder" [sizeSm]="6" [sizeXs]="6" [sizeMd]="4" [sizeLg]="3" no-padding>
                      <ion-card class="product-card non-deal-card" no-padding>
                        <ion-card-header no-padding>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>

                        <ion-card-content padding>
                          <ion-card-subtitle color="dark">
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </ion-card-subtitle>
                          <div class="price-segment" text-end>
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                    <ion-col class="product-card-holder" [sizeSm]="6" [sizeXs]="6" [sizeMd]="4" [sizeLg]="3" no-padding>
                      <ion-card class="product-card non-deal-card" no-padding>
                        <ion-card-header no-padding>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>

                        <ion-card-content padding>
                          <ion-card-subtitle color="dark">
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </ion-card-subtitle>
                          <div class="price-segment" text-end>
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                    <ion-col class="product-card-holder" [sizeSm]="6" [sizeXs]="6" [sizeMd]="4" [sizeLg]="3" no-padding>
                      <ion-card class="product-card non-deal-card" no-padding>
                        <ion-card-header no-padding>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>

                        <ion-card-content padding>
                          <ion-card-subtitle color="dark">
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </ion-card-subtitle>
                          <div class="price-segment" text-end>
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                    <ion-col class="product-card-holder" [sizeSm]="6" [sizeXs]="6" [sizeMd]="4" [sizeLg]="3" no-padding>
                      <ion-card class="product-card non-deal-card" no-padding>
                        <ion-card-header no-padding>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>

                        <ion-card-content padding>
                          <ion-card-subtitle color="dark">
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </ion-card-subtitle>
                          <div class="price-segment" text-end>
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                    <ion-col class="product-card-holder" [sizeSm]="6" [sizeXs]="6" [sizeMd]="4" [sizeLg]="3" no-padding>
                      <ion-card class="product-card non-deal-card" no-padding>
                        <ion-card-header no-padding>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>

                        <ion-card-content padding>
                          <ion-card-subtitle color="dark">
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </ion-card-subtitle>
                          <div class="price-segment" text-end>
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                    <ion-col class="product-card-holder" [sizeSm]="6" [sizeXs]="6" [sizeMd]="4" [sizeLg]="3" no-padding>
                      <ion-card class="product-card non-deal-card" no-padding>
                        <ion-card-header no-padding>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>

                        <ion-card-content padding>
                          <ion-card-subtitle color="dark">
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </ion-card-subtitle>
                          <div class="price-segment" text-end>
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                    <ion-col class="product-card-holder" [sizeSm]="6" [sizeXs]="6" [sizeMd]="4" [sizeLg]="3" no-padding>
                      <ion-card class="product-card non-deal-card" no-padding>
                        <ion-card-header no-padding>
                          <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
                        </ion-card-header>

                        <ion-card-content padding>
                          <ion-card-subtitle color="dark">
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </ion-card-subtitle>
                          <div class="price-segment" text-end>
                            <div class="skeleton-warpper">
                              <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                            </div>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
            <div *ngIf="widget.model != undefined && widget.model.length">
              <ion-hide-when size="lg">
              <div class="ribbon">
                <div class="ribbon__side--left">
                  <span></span>
                </div>
                <div class="ribbon__side--title" text-uppercase>
                  <span class="cond caps">{{categoryName}}</span>
                </div>
                <div class="ribbon__side--right">
                  <span></span>
                </div>
                <div class="ribbon__shadow">
                  <span></span>
                </div>
              </div>
              </ion-hide-when>
              <ion-show-when size="lg">
                <div class="common-heading-dotted" text-center>
                  <h2 text-uppercase no-margin>{{categoryName}}</h2>
                </div>
              </ion-show-when>
              <div *ngIf="categoryName.toLocaleLowerCase() === 'deals'">
                <ion-grid>
                  <ion-row>
                    <ion-col class="product-card-holder" *ngFor="let prod of widget.model" [sizeXl]="4" [sizeMd]="6"
                             [sizeSm]="6" [sizeXs]="12">
                      <ion-card no-margin no-padding no-border class="product-card deal-card">
                        <ion-card-header>
                          <img height="170" (click)="openProductDetails(prod)" src="{{getProductImageUrl(prod)}}"
                               img-preloader="{{prod?.smallImage}}"
                               defaultImage="assets/imgs/default/default.png"/>
                        </ion-card-header>
                        <ion-card-content>
                          <p class="deal-item-name">{{prod.title}}</p>
                          <p class="deal-item-desc">{{prod.shortDescription}}</p>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
              <div *ngIf="categoryName.toLocaleLowerCase() !== 'deals'">
                <ion-grid>
                  <ion-row>
                    <ion-col class="product-card-holder" *ngFor="let prod of widget.model" [sizeSm]="6" [sizeXs]="6"
                             [sizeMd]="4" [sizeLg]="3" no-padding>
                      <ion-card class="product-card non-deal-card" no-padding (click)="openProductDetails(prod)">
                        <ion-card-header no-padding>
                          <img height="100" (click)="openProductDetails(prod)" src="{{getProductImageUrl(prod)}}"
                               img-preloader="{{prod?.smallImage}}"
                               defaultImage="assets/imgs/default/default.png"/>
                        </ion-card-header>

                        <ion-card-content padding>
                          <ion-card-subtitle color="dark">{{prod.title}}</ion-card-subtitle>
                          <div class="price-segment" text-end>
                            <p>{{'category_listing.price_tag' | translate }}
                              <span class="label-price">{{prod.webPrice | currency: currencyCode : (currencyCode + ' ') :'1.3-3'}}</span>
                            </p>
                          </div>
                        </ion-card-content>
                      </ion-card>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </div>
          </ng-template>
        </product-showcase-widget>

      </div>
    </div>
    <ion-show-when size="lg">
      <div class="sidebar-cart">
        <div class="fixed-sidebar">
          <app-cart></app-cart>
        </div>
      </div>
    </ion-show-when>
  </div>
</ion-content>
<ion-hide-when size="lg">
  <ion-footer no-border>
    <div class="checkout-btn">
      <ion-button (click)="goToCart()" color="success" text-capitalize expand="block" mode="ios" class="btn-success">
        checkout
      </ion-button>
    </div>
  </ion-footer>
</ion-hide-when>
