<div class="search-address-modal full-height">
  <div class="search-address-wrap full-height">
    <ion-header no-border>
      <ion-toolbar>
        <ion-buttons slot="start">
          <div class="icon icon-arrow-prev-2" (click)="closeSearchModal()"></div>
        </ion-buttons>
        <ion-searchbar class="location-search" placeholder="{{'search_location_page.search_placeholder' | translate }}"></ion-searchbar>
      </ion-toolbar>
      <ion-icon class="close-icon" (click)="closeSearchModal()" name="close-circle"></ion-icon>
    </ion-header>

    <ion-content>
      <ion-item class="use-gps">
        <span class="icon icon-gps" item-start></span>
        <ion-label>{{'search_location_page.use_current_location' | translate }}
          <span>{{'search_location_page.using_gps' | translate }}</span>
        </ion-label>
      </ion-item>
      <ion-list class="search-results" no-margin>
        <ion-item>
          <span class="icon icon-location-pin" item-start></span>
          <ion-label>Kuwait City, Kuwait</ion-label>
        </ion-item>
        <ion-item>
          <span class="icon icon-location-pin" item-start></span>
          <ion-label>Kuwait City, Kuwait</ion-label>
        </ion-item>
        <ion-item>
          <span class="icon icon-location-pin" item-start></span>
          <ion-label>Kuwait City, Kuwait</ion-label>
        </ion-item>
      </ion-list>
      <ion-item class="search-gps">
        <ion-icon name="search" item-start></ion-icon>
        <ion-label>{{'search_location_page.recent_searches' | translate }}</ion-label>
      </ion-item>
      <ion-list class="recent-searches">
        <ion-item>
          <ion-label>Kuwait City, Kuwait</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Kuwait City, Kuwait</ion-label>
        </ion-item>
        <ion-item>
          <ion-label>Kuwait City, Kuwait</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </div>
</div>