.deal-showcase-grid {
  ion-card {
    box-shadow: none;
    background: var(--ion-color-light);
    img {
      height: auto;
    }
    ion-card-content {
      padding: 10px 15px;
      line-height: 20px;
      ion-card-subtitle {
        margin-bottom: 0;
        min-height: 40px;
      }
      ion-button {
        margin-top: 5px;
      }
    }
  }
}
.deal-showcase-component{
  ion-content{
    &.page-bg{
      --background: transparent;
    }
  }
}
.drinks-component {
  .drinks-img-wrap {
    position: relative;
    ion-icon {
      color: var(--ion-color-light);
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
      font-size: 24px;
    }
    .drinks-img-block {
      img {
        display: block;
        width: 100%;
        height: 210px;
      }
    }
    .drinks-img-text {
      h4 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(var(--ion-color-dark-rgb), 0.5) 0, rgba(var(--ion-color-dark-rgb), 0.2) 70%, transparent);
        color: var(--ion-color-light);
        font-size: 18px;
        font-weight: 600;
      }
    }
  }
  .add-remove {
    align-items: center;
    display: inline-flex;
    span {
      min-width: 24px;
      text-align: center;
      display: inline-block;
    }
    ion-icon {
      color: var(--ion-color-medium-shade);
      font-size: 12px;
      cursor: pointer;
      padding: 5px;
      border: 1px solid;
      border-radius: 100%;
      color: var(--ion-color-dark);
      &.add-icon {
        border-color: var(--ion-color-success);
      }
      &.disable {
        pointer-events: none;
        opacity: 0.5;
      }
    }
  }
  .drinks-list {
    background: var(--ion-color-light);
    h4 {
      font-size: 14px;
      background-color: var(--ion-block-header-color);
      color: var(--ion-color-secondary-shade);
      line-height: 40px;
      font-weight: 600;
    }
    ion-list {
      border-top: 1px solid var(--ion-color-medium-shade);
      ion-item {
        --min-height: 56px;
        border-bottom: 1px solid var(--ion-color-medium-shade);
        ion-label {
          font-size: 14px;
          margin: 0 10px;
        }
      }
    }
  }
  .btn-success {
    margin: 10px;
  }
}

@media (min-width: 992px) {
  .drinks-component {
    .deal-content {
      max-width: 500px;
      margin: auto;
    }
    .btn-success {
      max-width: 580px;
      margin: 10px auto;
    }
  }
}

// RTL Styles
html {
  &[dir="rtl"] {
    .drinks-component {
      .drinks-img-wrap {
        ion-icon {
          right: 10px;
          left: auto;
        }
      }
    }
  }
}
