.card{
    box-shadow: none;
}
.about-content {
  max-width: 900px;
  margin: auto;
  padding: 25px 15px 0;
  h5{
    font-size: 24px;
    margin: 0 0 10px;
    color: var(--ion-color-dark2);
  }
  p{
    color: var(--ion-color-secondary-shade);
    font-size: 14px;
    margin: 0 0 10px 0;
    line-height: 22px;
  }
}
  