<ion-header>
  <app-header></app-header>
</ion-header>

<ion-content no-padding>
  <app-sub-header [title]="'about_us_page.about_us' | translate"></app-sub-header>
  <div class="about-content">
    <h5 text-center>{{'about_us_page.our_history' | translate}}</h5>
    <p>{{'about_us_page.description_part_one' | translate}} </p>
    <p>{{'about_us_page.description_part_two' | translate}} </p>
    <p>
      <img src="../../../../assets/imgs/our_story_1.png" alt="Pizza hut Our story" class="our_story" />
      <img src="../../../../assets/imgs/our_story_2.jpg" alt="Pizza hut Our story" class="our_story" /> </p>
    <p>{{'about_us_page.description_part_three' | translate}} </p>
    <p>
      <img src="../../../../assets/imgs/our_story_3.jpg" alt="Pizza hut Our story" class="our_story" /> </p>
  </div>
</ion-content>
