<div class="location-bar box-shadow-card">
  <ion-item>
    <ion-label (click)="openSearch()" class="margin-left-1 margin-right-0">
        <ion-icon name="search"></ion-icon>
    </ion-label>
    <ion-input (click)="openSearch()" type="text" placeholder="{{ 'location_page.enter_your_location' | translate }}" [disabled]="true"></ion-input>
    <button item-right class="location-button" (tap)="locateMe()">
        <ion-icon name="location" color="fill-white" style="color:#fff"></ion-icon>
        <span style="color:#fff">{{ 'location_page.locate_me' | translate }}</span>
    </button>
  </ion-item>

  <p class="drag-pin"> {{ 'location_page.drag_the_pin_to_exact_location' | translate }} </p>

  <agm-map
      [latitude]="marker?.lat"
      [longitude]="marker?.lng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="true">

      <agm-marker
          [latitude]="marker?.lat"
          [longitude]="marker?.lng"
          [label]="marker?.label"
          [markerDraggable]="marker?.draggable"
          [iconUrl]="agmMarkerSrc"
          (dragEnd)="markerDragEnd(marker, $event)">

      </agm-marker>
  </agm-map>
</div>
