.location-form {
  border-radius: 5px;
  border: 1px solid var(--ion-color-light-tint);
  padding: 5px;
  form {
    border: 1px solid var(--ion-color-light-shade);
    border-radius: 5px;
    padding: 0 3px 0 10px;
    ion-input {
      font-size: 13px;
      opacity: 0.4;
    }
  }
  agm-map {
    height: 300px;
  }
  .drag-pin {
    color: var(--ion-color-success);
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
  }
}

.add-address-map {
  display: flex;
  flex-direction: column;
  .geo-location-address {
    order: 1;
  }
}

.geo-location-address {
  p {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
  }
}

@media (max-width:991px) {
  .location-form {
    border: 0;
    padding: 0 10px;
  }
}

// RTL Styles
html {
  &[dir="rtl"] {
    .location-form {
      form {
        padding: 0 10px 0 3px;
      }
    }
    .alert-radio-icon {
      right: 26px !important;
    }
    .alert-radio-label{
      padding: 13px 52px 13px 26px !important;
    }
  }
}