.delivery-slots-page {
  ion-footer {
    padding: 10px;
    ion-button {
      max-width: 700px;
      margin: auto;
      .btn-price {
        padding: 0 3px;
      }
    }
  }
  .btn-light {
    --border-radius: 5px;
    font-size: 15px;
    cursor: pointer;
  }
  ion-content{
    --background:transparent;
  }
  [color-light] {
    color: var(--ion-color-light);
  }
  .modal-close {
    margin-bottom: 40px;
    cursor: pointer;
    ion-icon {
      font-size: 25px;
      svg{
        fill: var(--ion-color-light);
      }
    }
  }
  .delivery-hut {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .as-soon-possible {
    ion-checkbox {
      pointer-events: none;
      margin-right: 10px;
    }
    &.disabled {
      pointer-events: none;
      ion-checkbox {
        opacity: 0.3;
      }
      span {
        opacity: 0.3;
      }
    }
  }
  .order-for-later {
    margin: 20px auto;
    font-size: 15px;
  }
  .available-slots-list {
    margin: 0 -3px;
    ion-button {
      --margin-top: 3px;
      --margin-bottom: 3px;
      margin-right: 3px;
      margin-left: 3px;
      width: 95px;
      display: inline-block;
      &.selected {
        --ion-color-warning: var(--ion-color-light) !important;
        --ion-color-warning-tint: var(--ion-color-light-tint) !important;
        --ion-color-warning-shade: var(--ion-color-light-shade) !important;
        --ion-color-warning-contrast: var(--ion-color-success) !important;
      }
    }
  }
  ion-button {
    &.button-solid {
      &:hover {
        --opacity: 1;
      }
    }
  }
  ion-skeleton-text{
    width: 250px;
    height: 16px;
    background: var(--ion-block-header-color);
  }
}

@media (max-width: 991px) {
  .delivery-slots-page {
    .available-slots-list {
      margin: 0 -5px;
      ion-button {
        --margin-top: 5px;
        --margin-bottom: 5px;
        margin-right: 5px;
        margin-left: 5px;
      }
    }
  }
}

@media (max-width: 768px) {
  .delivery-slots-page {
    background: rgba(var(--ion-color-dark-rgb), 0.8);
  }
}

// RTL Support Styles
html {
  &[dir="rtl"] {
    .delivery-slots-page {
      .as-soon-possible {
        ion-checkbox{
          margin: 0 0 0 10px;
        }
      }
    }
  }
}
