<ion-header>
  <app-header [showUserIcon]="false" [showHalalTag]="false" [showLanguage]="false"></app-header>
</ion-header>
<ion-content>
  <app-sub-header [title]="titleValue"></app-sub-header>
  <div class="add-addresses w-700">
    <div class="location-wrap">
      <div class="location-form">
        <form flex-center>
          <ion-input readonly placeholder="{{ 'add_address_page.enter_your_location' | translate }}"></ion-input>
          <ion-button color="success" text-Capitalize mode="ios" class="btn-success">
           <ion-icon name="pin"></ion-icon> {{'add_address_page.locate_me' | translate}}</ion-button>
        </form>
      </div>
      <form class="form-section" [formGroup]="addAddressForm">
        <div class="form-group" [class.error]="addAddressForm.get('addressDetails').touched && !addAddressForm.get('addressDetails').valid">
          <ion-label class="login-label" for="addressDetails" text-capitalize>{{ 'add_address_page.address_details' | translate }}
            <sup>*</sup>
          </ion-label>
          <div class="form-input">
            <ion-textarea id="addressDetails" placeholder="{{ 'add_address_page.address_details_placeholder' | translate }}" formControlName="addressDetails"></ion-textarea>
          </div>
          <div *ngIf="addAddressForm.get('addressDetails').touched">
            <div class="error-msg" *ngIf="addAddressForm.get('addressDetails').errors?.required">{{ 'add_address_page.address_details_required' | translate }}
            </div>
          </div>
        </div>
        <div class="form-group">
          <ion-label class="login-label" for="landMark" text-capitalize>{{ 'add_address_page.landmark' | translate }}
          </ion-label>
          <div class="form-input">
            <ion-input id="landMark" placeholder="{{ 'add_address_page.landmark_placeholder' | translate }}" inputmode="text" formControlName="landMark"></ion-input>
          </div>
        </div>
        <div class="form-group">
          <ion-label class="login-label" for="addressType" text-capitalize>{{ 'add_address_page.address_type' | translate }}
          </ion-label>
          <div class="form-input">
            <ion-select id="addressType" formControlName="addressType" value="home" okText="Okay" cancelText="Dismiss">
              <ion-select-option value="home">{{ 'add_address_page.home' | translate }}</ion-select-option>
              <ion-select-option value="work">{{ 'add_address_page.work' | translate }}</ion-select-option>
              <ion-select-option value="other">{{ 'add_address_page.other' | translate }}</ion-select-option>
            </ion-select>
          </div>
        </div>
      </form>
    </div>
  </div>
</ion-content>
<ion-footer no-border>
  <ion-button color="success" text-uppercase expand="block" mode="ios" class="btn-success" (click)="goToPage('add-address')">{{'add_address_page.add_address' | translate}}</ion-button>
</ion-footer>