ion-footer{
  padding: 10px;
}
.location-wrap{
  margin: 40px auto 10px;
  .location-form{
    border-radius: 5px;
    border: 1px solid var(--ion-color-light-tint);
    padding: 5px;
  }
}

@media (min-width: 992px){
  .btn-success{
      max-width: 700px;
      margin: auto;
  }   
}

