<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <app-sub-header [title]="'nutrition_page.nutrition' | translate"></app-sub-header>
  <div class="nutrition-content w-700" padding>
    <p class="nutritionValues" text-right>
      <a href="https://martjackstorage.blob.core.windows.net/in-resources/2002cbfe-9adf-42ac-9bfd-8e013fee7c18/Images/userimages/nutritiontable.jpg"
        target="_blank">{{ 'nutrition_page.view_nutrition_values' | translate }}</a>
    </p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold01' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal01' | translate }}</p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold02' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal02' | translate }}</p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold03' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal03' | translate }}</p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold04' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal04' | translate }}</p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold05' | translate }}</p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold06' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal05' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal06' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal07' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal08' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal09' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal10' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal11' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal12' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal13' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal14' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal15' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal16' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal17' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal18' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal19' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal20' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal21' | translate }}</p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold07' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal22' | translate }}</p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold08' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal23' | translate }}</p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold09' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal24' | translate }}</p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold10' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal25' | translate }}</p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold11' | translate }}</p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold12' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal26' | translate }}</p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold13' | translate }}</p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold14' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal27' | translate }}</p>
    <p class="bold">{{ 'nutrition_page.nutition_content_bold15' | translate }}</p>
    <p>{{ 'nutrition_page.nutition_content_normal28' | translate }}</p>
    <ul>
      <li>{{ 'nutrition_page.nutition_content_list01' | translate }}</li>
      <li>{{ 'nutrition_page.nutition_content_list02' | translate }}</li>
      <li>{{ 'nutrition_page.nutition_content_list03' | translate }}</li>
      <li>{{ 'nutrition_page.nutition_content_list04' | translate }}</li>
      <li>{{ 'nutrition_page.nutition_content_list05' | translate }}</li>
      <li>{{ 'nutrition_page.nutition_content_list06' | translate }}</li>
      <li>{{ 'nutrition_page.nutition_content_list07' | translate }}</li>
      <li>{{ 'nutrition_page.nutition_content_list08' | translate }}</li>
      <li>{{ 'nutrition_page.nutition_content_list09' | translate }}</li>
      <li>{{ 'nutrition_page.nutition_content_list10' | translate }}</li>
    </ul>
  </div>
</ion-content>