<ion-header>
  <app-header [showHalalTag]="false" [showLanguage]="false"></app-header>
</ion-header>
<ion-content>
  <ion-toolbar class="page-header">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" ios="ios-arrow-back" md="ios-arrow-back" (click)="goToPage('home')"></ion-icon>
    </ion-buttons>
    <ion-title text-center text-uppercase>Store Selection</ion-title>
  </ion-toolbar>
  <div class="store-selection-wrap w-700">
    <div class="select-store-block" padding>
      <h5 no-margin text-uppercase>FAHAHEEL</h5>
      <div class="store-content" flex justify-content-between>
        <div class="store-address">Coastal Road, Opp Al Kout Mall </div>
        <div class="store-times">11:00 AM - 11:30 AM</div>
      </div>
      <div text-right class="take-away-now">
        <ion-button color="success" size="small" class="btn-success" text-uppercase mode="ios">Take Away Now</ion-button>
      </div>
    </div>
    <div class="select-store-block" padding>
      <h5 no-margin text-uppercase>FAHAHEEL</h5>
      <div class="store-content" flex justify-content-between>
        <div class="store-address">Coastal Road, Opp Al Kout Mall </div>
        <div class="store-times">11:00 AM - 11:30 AM</div>
      </div>
      <div text-right class="take-away-now">
        <ion-button color="success" size="small" class="btn-success" text-uppercase mode="ios">Take Away Now</ion-button>
      </div>
    </div>
    <div class="select-store-block" padding>
      <h5 no-margin text-uppercase>FAHAHEEL</h5>
      <div class="store-content" flex justify-content-between>
        <div class="store-address">Coastal Road, Opp Al Kout Mall </div>
        <div class="store-times">11:00 AM - 11:30 AM</div>
      </div>
      <div text-right class="take-away-now">
        <ion-button color="success" size="small" class="btn-success" text-uppercase mode="ios">Take Away Now</ion-button>
      </div>
    </div>
    <div class="select-store-block" padding>
      <h5 no-margin text-uppercase>FAHAHEEL</h5>
      <div class="store-content" flex justify-content-between>
        <div class="store-address">Coastal Road, Opp Al Kout Mall </div>
        <div class="store-times">11:00 AM - 11:30 AM</div>
      </div>
      <div text-right class="take-away-now">
        <ion-button color="success" size="small" class="btn-success" text-uppercase mode="ios">Take Away Now</ion-button>
      </div>
    </div>
  </div>
</ion-content>