<ion-header>
  <app-header [showUserIcon]="false" [showHalalTag]="false" [showLanguage]="false"></app-header>
</ion-header>
<ion-content>
  <app-sub-header [title]="'change_password_page.change_password' | translate"></app-sub-header>
  <div class="main-content w-700">
    <reset-password-widget [componentId]="getComponentId()" [action]="resetPasswordWidgetActionEmitter">
      <ng-template let-widget="widget">
        <ng-container *ngIf="widget.model">
          <form *ngIf="!passwordChangeSuccess" class="form-section w-400" padding [formGroup]="resetPasswordForm">
            <div class="form-group"
                 [class.error]="resetPasswordForm.get('newPassword').touched && !resetPasswordForm.get('newPassword').valid">
              <ion-label class="login-label" for="newPassword" text-capitalize>{{ 'change_password_page.enter_password'
                | translate }}
                <sup>*</sup>
              </ion-label>
              <div class="form-input">
                  <ion-input id="newPassword"
                    [type]="this.fieldTypeMap.get('passwordFieldType')"
                    [inputmode]="this.fieldTypeMap.get('passwordFieldType')" no-border
                    placeholder="{{ 'change_password_page.enter_password_placeholder' | translate }}"
                    formControlName="newPassword"></ion-input>
                  <div class="icons">
                    <ion-icon (click)="changeFieldType('newPassword')" 
                              [name]="this.fieldTypeMap.get('passwordFieldType') == 'password' ? 'eye' : 'eye-off'"
                              margin-end-half></ion-icon>
                    <ion-icon name="alert"></ion-icon>
                  </div>
              </div>
              <div *ngIf="resetPasswordForm.get('newPassword').touched">
                <div class="error-msg" *ngIf="resetPasswordForm.get('newPassword').errors?.required">{{
                  'change_password_page.enter_password_required' | translate }}
                </div>
                <div class="error-msg" *ngIf="resetPasswordForm.get('newPassword').errors?.minlength">{{
                  'change_password_page.enter_password_length' | translate }}
                </div>
              </div>
            </div>
            <div class="form-group"
                 [class.error]="resetPasswordForm.get('confirmNewPassword').touched && !resetPasswordForm.get('confirmNewPassword').valid">
              <ion-label class="login-label" for="confirmNewPassword" text-capitalize>{{
                'change_password_page.re_enter_password' | translate }}
                <sup>*</sup>
              </ion-label>
              <div class="form-input">
                <ion-input id="confirmNewPassword"
                           [type]="this.fieldTypeMap.get('confirmPasswordFieldType')"
                           [inputmode]="this.fieldTypeMap.get('confirmPasswordFieldType')" no-border
                           placeholder="{{ 'change_password_page.re_enter_password_placeholder' | translate }}"
                           formControlName="confirmNewPassword"></ion-input>
                <div class="icons">
                    <ion-icon (click)="changeFieldType('confirmNewPassword')" [name]="this.fieldTypeMap.get('confirmPasswordFieldType') == 'password' ? 'eye' : 'eye-off'"
                              margin-end-half></ion-icon>
                  <ion-icon name="alert"></ion-icon>
                </div>
              </div>
              <div *ngIf="resetPasswordForm.get('confirmNewPassword').touched">
                <div class="error-msg" *ngIf="resetPasswordForm.get('confirmNewPassword').errors?.required">{{
                  'change_password_page.re_enter_password_required' | translate }}
                </div>
                <div class="error-msg"
                     *ngIf="!resetPasswordForm.get('confirmNewPassword').errors?.required && checkPasswords(resetPasswordForm)">
                  {{ 'change_password_page.re_enter_password_notmatch' | translate }}
                </div>
              </div>
            </div>
            <div class="buttons-group">
              <ion-button color="success" class="btn-success" text-capitalize expand="block" mode="ios"
                          (click)="doChangePassword()"
                          [class.disabled]="!resetPasswordForm.valid || checkPasswords(resetPasswordForm) || !resetPasswordForm.dirty || updateInProgress">{{
                'change_password_page.submit' | translate }}
                <!-- <ion-spinner *ngIf="updateInProgress" color="primary" name="circles"></ion-spinner> -->
              </ion-button>
            </div>
          </form>
        </ng-container>
      </ng-template>
    </reset-password-widget>
  </div>
  <div *ngIf="passwordChangeSuccess" class="password-success">
    <ion-icon class="icon-check-circle-1"></ion-icon><br />
    {{ 'change_password_page.password_set_successfully' | translate }}
  </div>
</ion-content>

<ion-footer *ngIf="passwordChangeSuccess">
  <ion-button (click)="navigateToDeals()" color="success" text-capitalize expand="block" mode="ios" class="btn-success">
    {{ 'change_password_page.start_ordering' | translate }}
  </ion-button>
</ion-footer>
