<ion-header>
  <app-header [showHalalTag]="false" [showLanguage]="false"></app-header>
</ion-header>
<ion-content>
  <ion-toolbar class="page-header">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" ios="ios-arrow-back" md="ios-arrow-back" (click)="goToPage('my-account')"></ion-icon>
    </ion-buttons>
    <ion-title text-center text-uppercase>{{'change_password_page.change_password' | translate}}</ion-title>
  </ion-toolbar>
  <div class="main-content w-700">
    <form class="form-section w-400" padding [formGroup]="resetPasswordForm">
      <div class="form-group" [class.error]="resetPasswordForm.get('newPassword').touched && !resetPasswordForm.get('newPassword').valid">
        <ion-label class="login-label" for="newPassword" text-capitalize>{{ 'change_password_page.enter_password' | translate }}
          <sup>*</sup>
        </ion-label>
        <div class="form-input">
          <ion-input id="newPassword" placeholder="{{ 'change_password_page.enter_password_placeholder' | translate }}" inputmode="text"
            formControlName="newPassword"></ion-input>
          <div class="icons">
            <ion-icon name="alert"></ion-icon>
          </div>
        </div>
        <div *ngIf="resetPasswordForm.get('newPassword').touched">
          <div class="error-msg" *ngIf="resetPasswordForm.get('newPassword').errors?.required">{{ 'change_password_page.enter_password_required' | translate }}</div>
          <div class="error-msg" *ngIf="resetPasswordForm.get('newPassword').errors?.minlength">{{ 'change_password_page.enter_password_length' | translate }}</div>
        </div>
      </div>
      <div class="form-group" [class.error]="resetPasswordForm.get('confirmNewPassword').touched && !resetPasswordForm.get('confirmNewPassword').valid">
        <ion-label class="login-label" for="confirmNewPassword" text-capitalize>{{ 'change_password_page.re_enter_password' | translate }}
          <sup>*</sup>
        </ion-label>
        <div class="form-input">
          <ion-input id="confirmNewPassword" placeholder="{{ 'change_password_page.re_enter_password_placeholder' | translate }}" inputmode="text"
            formControlName="confirmNewPassword"></ion-input>
          <div class="icons">
            <ion-icon name="alert"></ion-icon>
          </div>
        </div>
        <div *ngIf="resetPasswordForm.get('confirmNewPassword').touched">
          <div class="error-msg" *ngIf="resetPasswordForm.get('confirmNewPassword').errors?.required">{{ 'change_password_page.re_enter_password_required' | translate }}</div>
          <div class="error-msg" *ngIf="!resetPasswordForm.get('confirmNewPassword').errors?.required && checkPasswords(resetPasswordForm)">{{ 'change_password_page.re_enter_password_notmatch' | translate }}</div>
        </div>
      </div>
      <div class="buttons-group">
        <ion-button color="success" class="btn-success" text-capitalize expand="block" mode="ios" (click)="changePassword()" [class.disabled]="!resetPasswordForm.valid || checkPasswords(resetPasswordForm)">{{ 'change_password_page.submit' | translate }}</ion-button>
      </div>
    </form>
  </div>
</ion-content>