<div class="full-height popup-wrap product-details-page">
  <div class="popup-inner full-height">
    <product-display-widget class="full-height" pfWidgetImpressionTrack [executor]="productWidgetExecutor" [action]="productWidgetAction"
      (lifecycle)="null" [productId]="productId" [cartItem]="cartItem" [componentId]="getComponentId()">

      <ng-template let-widget="widget">
        <ng-container *ngIf="!loaded">
          <ion-content class="skeleton-product-details">
            <ion-card no-padding no-margin>
              <ion-card-header no-padding class="product-img-block">
                <ion-item text-center class="popup-title" no-margin>
                  <ion-icon (click)="goBack()" name="close-circle" slot="start"></ion-icon>
                  <ion-label>
                    <div class="skeleton-warpper">
                      <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                    </div>
                  </ion-label>
                </ion-item>
                <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
              </ion-card-header>
              <ion-card-content>
                <div class="skeleton-warpper">
                  <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                  <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-content>
          <ion-footer class="skeleton-product-details">
            <ion-button disabled color="success" text-uppercase expand="block" mode="ios" class="btn-success">{{'product_details.add_to_basket' | translate}}
            </ion-button>
          </ion-footer>
        </ng-container>

        <ng-container *ngIf="loaded">
          <div class="product-details-content-block">

            <div class="product-img-block">
              <ion-icon name="close-circle" (click)="goBack()" slot="start"></ion-icon>
              <img alt="{{widget?.model?.title}}" class="product-main-image" height="170" width="340" loadingImage="assets/imgs/default/default.png" img-preloader="{{getProductImageUrl(widget?.model)}}"
                defaultImage="assets/imgs/default/default.png" />
            </div>
            <div class="product-details-content-inner">
              <div class="popup-title">
                <h4 text-center padding no-margin>{{widget?.model?.title}}</h4>
                <div class="img-text" padding>
                  <p>{{widget?.model?.longDescription}}</p>
                </div>
              </div>

              <div class="drinks-choose-block" margin>
                <div *ngIf="!showVariants">
                  <ul>
                    <ng-container *ngFor="let varprop of widget?.model?.variantProperties">
                      <ng-container *ngIf="varprop.showProperty">
                        <div class="block-header" text-capitalize>{{varprop?.name}}</div>
                        <ng-container *ngFor="let propValue of varprop?.values">
                          <li flex-center text-capitalize *ngIf="isProeprtyAvailable(propValue?.id)" (click)="setSelectedPropertyvalue(propValue, varprop)">
                            <span class="block-text">{{propValue?.name}}</span>
                            <span class="block-icon">
                              <ion-icon *ngIf="isPropertyValueSelected(varprop?.id, propValue?.id)" color="dark" name="checkmark"></ion-icon>
                              <ion-icon *ngIf="!isPropertyValueSelected(varprop?.id, propValue?.id)" color="success" name="add"></ion-icon>
                            </span>
                          </li>
                        </ng-container>
                      </ng-container>
                      <ng-container *ngIf="!varprop.showProperty">
                        <div class="selected-variant" flex-center (click)="varprop.showProperty = !varprop.showProperty">
                          <span class="block-text">{{getSelectedPropValueName(varprop)}}</span>
                          <span class="block-icon">
                            <ion-icon color="dark" name="checkmark"></ion-icon>
                          </span>
                        </div>
                      </ng-container>
                    </ng-container>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <ion-footer *ngIf="showAddToCart">
            <!--<div class="quantity-block" flex align-items-center justify-content-between>-->
            <!--<p no-margin>Quantity</p>-->
            <!--<div class="add-remove">-->
            <!--<ion-icon name="remove-circle"></ion-icon>-->
            <!--<span>1</span>-->
            <!--<ion-icon name="add-circle"></ion-icon>-->
            <!--</div>-->
            <!--</div>-->
            <ion-button
                    (click)="addToCart(widget?.model?.client)"
                    [pfAddToCartTrack]="{
                      products:[widget?.model],
                      currencyCode:'KD',
                      productFromDeal: productFromDeal
                    }"
                    color="success"
                    text-uppercase
                    expand="block"
                    mode="ios"
                    class="btn-success">
              <div *ngIf="!productFromDeal">{{'product_details.add_to_basket' | translate}}</div>
              <div *ngIf="productFromDeal">{{'product_details.add_to_deal' | translate}}</div>
              <span class="btn-price" *ngIf="getPrice() !== 0">{{widget?.model?.client?.price | currency: (currencyCode + ' '): true: '1.3-3'}}</span>
            </ion-button>
          </ion-footer>
        </ng-container>
      </ng-template>
    </product-display-widget>
  </div>
</div>
