<ion-header>
  <app-header [showUserIcon]="false" [showHalalTag]="false" [showLanguage]="false"></app-header>
</ion-header>
<ion-content class="order-history-page">
  <app-sub-header [title]="titleValue"></app-sub-header>
  <orders-widget [componentId]="getComponentId()" [limit]=6 [executor]="orderWidgetExecutor" [action]="orderWidgetAction"
    (lifecycle)="handleWidgetLifecycle($event)">
    <ng-template let-widget="widget">
      <ng-container *ngIf="(!widget || !widget.model) && !isWidgetLoadingDone">
        <div class="orders-content w-700">
          <ion-list no-margin>
            <ion-item no-padding>
              <ion-label no-margin>
                  <h2>
                    <ion-skeleton-text class="skeleton-text h2-skeleton"></ion-skeleton-text>
                  </h2>
                  <ion-skeleton-text class="skeleton-text date-skeleton"></ion-skeleton-text>                  
                <div class="order-price" flex-center>
                  <span>
                      <ion-skeleton-text class="skeleton-text price-skeleton"></ion-skeleton-text>
                  </span>
                  <span class="icon icon-arrow-next-2"></span>
                </div>
              </ion-label>
            </ion-item>
            <ion-item no-padding>
              <ion-label no-margin>
                  <h2>
                    <ion-skeleton-text class="skeleton-text h2-skeleton"></ion-skeleton-text>
                  </h2>
                  <ion-skeleton-text class="skeleton-text date-skeleton"></ion-skeleton-text>                  
                <div class="order-price" flex-center>
                  <span>
                      <ion-skeleton-text class="skeleton-text price-skeleton"></ion-skeleton-text>
                  </span>
                  <span class="icon icon-arrow-next-2"></span>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </ng-container>
      <ng-container *ngIf="(!widget || !widget.model) && isWidgetLoadingDone">
        <div class="no-orders" flex align-items-center justify-content-center>{{'order_history_page.no_orders' | translate}}</div>
      </ng-container>

      <ng-container *ngIf="widget && widget.model != undefined">
        <!-- {{widget.model | json}} -->
        <div *ngIf="widget.model.length == 0" class="no-orders" flex align-items-center justify-content-center>{{'order_history_page.no_orders' | translate}}</div>
        <div class="orders-content w-700">
          <ion-list no-margin>
            <ion-item no-padding *ngFor="let order of widget.model; let i = index">
              <ion-label no-margin>
                <h2>Order # {{order.id}}
                    <span class="order-date"><i>(</i>{{getDate(order.orderDate.locale)}}<i>)(</i> | {{getTimeHHMM(order.orderDate.locale)}}<i>)</i></span>
                </h2>
                <div class="view-order-details" *ngIf="isShowProducts(i)">
                  <ion-grid no-padding>
                    <ion-row *ngFor="let orderLineItem of order.getLineItemsOfMainProduct()">
                      <ion-col no-padding size-xs="10">{{orderLineItem.product.title}}</ion-col>
                      <ion-col no-padding size-xs="2">{{orderLineItem.qty}}</ion-col>
                    </ion-row>
                  </ion-grid>
                  <div class="order-detail-link" (click)="getOrderDetails(order)">View Order Details</div>
                </div>
                <div class="order-price" flex-center>
                  <span>{{order.priceDetails.payableAmount | currency: (currencyCode + ' '): true: '1.3-3'}}</span>
                  <span class="icon icon-arrow-next-2" (click)="toggleShowingProducts(i)"></span>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
          <ion-button *ngIf="widget.model.length >= 6 && isShowMoreButtonVisible && !isNextLoading" (click)="loadNextOrders()" color="success" text-capitalize expand="block" mode="ios" class="btn-success" padding>{{'order_history_page.load_more_orders' | translate}}</ion-button>
          <ion-button *ngIf="widget.model.length >= 6 && isShowMoreButtonVisible && isNextLoading" color="success" text-capitalize expand="block" mode="ios" class="btn-success" padding>
            <ion-spinner name="crescent" color="dark"></ion-spinner>
          </ion-button>
        </div>

      </ng-container>
    </ng-template>
  </orders-widget>
</ion-content>