<div class="full-height popup-wrap pizza-component">
  <div class="popup-inner full-height">
    <product-display-widget class="full-height" pfWidgetImpressionTrack [action]="productWidgetAction" [productId]="productId"
      [sizePropertyId]="sizePropertyId" [componentId]="getComponentId()">

      <ng-template let-widget="widget">
        <ng-container *ngIf="!loaded">
          <ion-content class="skeleton-pizza">
            <ion-card no-padding no-margin>
              <ion-card-header no-padding class="product-img-block">
                <ion-item text-center class="popup-title" no-margin>
                  <ion-icon (click)="goBack()" name="close-circle" slot="start"></ion-icon>
                  <ion-label>
                    <div class="skeleton-warpper">
                      <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                    </div>
                  </ion-label>
                </ion-item>
                <app-skeleton [aspectRatio]="2" [width]="'100%'"></app-skeleton>
              </ion-card-header>
              <ion-card-content>
                <div class="skeleton-warpper">
                  <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                  <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-content>
          <ion-footer class="skeleton-pizza">
            <ion-button disabled color="success" text-uppercase expand="block" mode="ios" class="btn-success">{{'product_details.add_to_basket' | translate}}
            </ion-button>
          </ion-footer>
        </ng-container>

        <ng-container *ngIf="loaded">
          <div class="pizza-details-content-block">
            <div class="product-img-block">
              <ion-icon name="close-circle" (click)="goBack()" slot="start"></ion-icon>
              <img alt="{{widget?.model?.title}}" class="product-main-image" height="170" width="340" img-preloader="{{getProductImageUrl()}}"
                defaultImage="assets/imgs/default/default.png" />
            </div>
            <div class="pizza-details-content-inner">
              <div class="popup-title">
                <h4 text-center padding no-margin>{{widget?.model?.title}}</h4>
                <div class="img-text" padding>
                  <p>{{defaultToppings?.join(', ')}}</p>
                  <p>
                    <span class="success" *ngIf="addedToppings.length">Added: </span>{{addedToppings?.join(', ')}}</p>
                  <p>
                    <span class="danger" *ngIf="removedToppings.length">Removed: </span>{{removedToppings?.join(', ')}}</p>
                </div>
              </div>

              <!-- First view, Selection of crust and size -->
              <div class="pizza-sizes-wrap" *ngIf="!showToppingsView">
                <div class="block-header">{{'pizza.slect_size_crust' | translate}}</div>
                <ng-container *ngFor="let propValueSize of widget?.model?.variantProperties[1]?.values">
                  <div class="block-subheader" text-capitalize>{{propValueSize?.name}}</div>
                  <div class="pizza-list">
                    <ul>
                      <li flex-center *ngFor="let propValueCrust of widget?.model?.variantProperties[0]?.values" (click)="setSelectedPropertyvalue(propValueSize);setSelectedPropertyvalue(propValueCrust);toggleToppingsView();">
                        <ng-container *ngIf="getSizeCrustCombinationAvailability(propValueCrust.id, propValueSize.id)">
                          <figure class="pizza-img">
                            <img src="{{getUrl(propValueCrust?.swatchImage)}}" alt="propValueCrust?.name">
                          </figure>
                          <div class="pizza-content">
                            <h5 text-capitalize>{{propValueCrust?.name}}</h5>
                            <p>{{propValueCrust?.description}}</p>
                          </div>
                          <div class="pizza-price" *ngIf="getSizeCrustCombinationPrice(propValueCrust?.id, propValueSize?.id) !== 0">
                            {{getSizeCrustCombinationPrice(propValueCrust?.id, propValueSize?.id) | currency: (currencyCode + ' '): true: '1.3-3'}}
                          </div>
                        </ng-container>
                      </li>
                    </ul>
                  </div>
                </ng-container>
              </div>

              <!-- Second view, selection of toppings -->
              <div class="sub-modal-wrap" *ngIf="showToppingsView">
                <div class="sub-modal-head" flex-center>
                  <p no-margin>
                    <span>{{getSelectedSizeAndCrust()}}</span>
                  </p>
                  <a class="change" (click)="toggleToppingsView()" text-capitalize>{{'pizza.change' | translate}}</a>
                </div>
                <div class="drinks-choose-block" margin>
                  <div class="block-header" flex-center text-capitalize (click)="showToppings = !showToppings">
                    {{'pizza.change_cheese_sauce_etc' | translate}}
                    <ion-icon class="arrow" [class.expand]="showToppings" ios="ios-arrow-down" md="ios-arrow-down" name="arrow-down"></ion-icon>
                  </div>

                  <!-- Pizza sauce -->
                  <ng-container *ngIf="showToppings" (click)="showToppings = !showToppings">
                    <ul>
                      <li flex-center text-capitalize *ngFor="let item of toppings">
                        <ng-container *ngIf="(isItemSelected(item.id) || item.isDefault) && getItemType(item) === sauce">
                          <span class="block-text">{{item?.title}}</span>
                          <span class="block-icon">
                            <ion-icon color="dark" name="checkmark" *ngIf="isItemSelected(item?.id)" (click)="removeItem(item)"></ion-icon>
                            <ion-icon color="success" name="add" *ngIf="!isItemSelected(item?.id)" (click)="addItem(item)"></ion-icon>
                          </span>
                        </ng-container>
                      </li>
                    </ul>

                    <!-- Default toppings -->
                    <div class="block-header" text-capitalize flex-center>{{'pizza.your_toppings' | translate}}
                      <strong class="extra">{{'pizza.extra' | translate}}</strong>
                    </div>
                    <ul>
                      <li flex-center text-capitalize *ngFor="let item of toppings">
                        <ng-container *ngIf="isItemSelected(item?.id) && getItemType(item) === topping">
                          <figure class="toppings-img">
                            <img src="{{getUrl(item?.image)}}" alt="item?.title">
                          </figure>
                          <span class="block-text">{{item.title}}</span>
                          <span class="block-price" *ngIf="isExtraItem(item) || (!item?.isDefault && isItemSelected(item?.id))">
                            {{getItemprice(item) | currency: (currencyCode + ' '): true: '1.3-3'}}
                          </span>
                          <ion-checkbox color="success" *ngIf="isExtraItem(item) && isItemSelected(item?.id)" [checked]="true" (click)="removeItem(item, true)"></ion-checkbox>
                          <ion-checkbox color="success" *ngIf="!isExtraItem(item) && isItemSelected(item?.id)" [checked]="false" [disabled]="!clientProduct?.allowAdd"
                            (click)="addItem(item)"></ion-checkbox>
                          <span class="block-icon">
                            <ion-icon color="success" *ngIf="!isItemSelected(item.id)" (click)="addItem(item)" name="add"></ion-icon>
                            <ion-icon class="close" *ngIf="isItemSelected(item.id)" (click)="removeItem(item)" name="close-circle"></ion-icon>
                          </span>
                        </ng-container>
                      </li>
                      <li flex-center text-capitalize *ngFor="let item of toppings" [ngClass]="{'disable': !clientProduct?.allowAdd}">
                        <ng-container *ngIf="!isItemSelected(item.id) && item?.isDefault && getItemType(item) === topping">
                          <figure class="toppings-img">
                            <img src="{{getUrl(item?.image)}}" alt="item?.title">
                          </figure>
                          <span class="block-text">{{item.title}}</span>
                          <span class="block-icon">
                            <ion-icon color="success" *ngIf="!isItemSelected(item.id)" (click)="addItem(item)" name="add"></ion-icon>
                          </span>
                        </ng-container>
                      </li>
                    </ul>

                    <!-- Extra toppings -->
                    <div class="block-header" text-capitalize flex-center>{{'pizza.add_extra' | translate}}</div>
                    <ul>
                      <li flex-center text-capitalize *ngFor="let item of toppings" [ngClass]="{'disable': !clientProduct?.allowAdd}">
                        <ng-container *ngIf="!(isItemSelected(item?.id)) && !item?.isDefault && getItemType(item) === topping">
                          <figure class="toppings-img">
                            <img src="{{getUrl(item?.image)}}" alt="item?.title">
                          </figure>
                          <span class="block-text">{{item?.title}}</span>
                          <span class="block-price">{{getItemprice(item) | currency: (currencyCode + ' '): true: '1.3-3'}}</span>
                          <span class="block-icon">
                            <ion-icon color="success" name="add" (click)="addItem(item)"></ion-icon>
                          </span>
                        </ng-container>
                      </li>
                    </ul>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>

          <!-- Add to cart -->
          <ion-footer *ngIf="showToppingsView">
            <ion-button (click)="addToCart(widget?.model?.client)" [class.disabled]="updatingPrice" color="success" text-uppercase expand="block"
              mode="ios" class="btn-success">
              <div *ngIf="!productFromDeal">{{'pizza.add_to_basket' | translate}}</div>
              <div *ngIf="productFromDeal">{{'pizza.add_to_deal' | translate}}</div>
              <span *ngIf="updatingPrice && !productFromDeal">
                <ion-spinner name="crescent" color="dark"></ion-spinner>
              </span>
              <span *ngIf="!updatingPrice && !productFromDeal">{{widget?.model?.client?.price | currency: (currencyCode + ' '): true: '1.3-3'}}</span>
            </ion-button>
          </ion-footer>
        </ng-container>
      </ng-template>
    </product-display-widget>
  </div>
</div>