<div class="footer-content">
  <ion-grid>
    <ion-row>
      
      <ion-col col-6 col-sm-6 col-lg-6>
        <ion-title no-padding no-margin>Menu</ion-title>
        <ion-item no-padding no-margin>Deals</ion-item>
        <ion-item no-padding no-margin>Pizzas</ion-item>
        <ion-item no-padding no-margin>Sides</ion-item>
        <ion-item no-padding>Wings</ion-item>
        <ion-item no-padding>Pasta</ion-item>
        <ion-item no-padding>Salads</ion-item>
        <ion-item no-padding>Desserts</ion-item>
        <ion-item no-padding>Drinks</ion-item>

        <ion-title no-padding class="top-space">Nutrition</ion-title>
        <ion-item no-padding>Nutrition</ion-item>        
      </ion-col>

      <ion-col col-6 col-sm-6 col-lg-6>
        <ion-title no-padding>About Us</ion-title>
        <ion-item no-padding>About us</ion-item>

        <ion-title no-padding>Customer Service</ion-title>
        <ion-item no-padding>Contact us</ion-item>
        <ion-item no-padding>Feedback</ion-item>
        <ion-item no-padding>FAQs</ion-item>

        <ion-title no-padding>My Account</ion-title>
        <ion-item no-padding>Signin</ion-item>
        <ion-item no-padding>Create Your Account</ion-item>
        <ion-item no-padding>My Account</ion-item>

        <ion-title no-padding>Policies</ion-title>
        <ion-item no-padding>Terms & Conditions</ion-item>

        <ion-title no-padding>Privacy Policy</ion-title>
        <ion-item no-padding>Privacy Policy</ion-item>
      </ion-col>


      <ion-col col-6 col-sm-6 col-lg-6>
      </ion-col>
    </ion-row> 

    <ion-row>
      <ion-col col-12 col-sm-12 col-lg-6 offset-lg-3 text-center no-padding class="social-links"> 
        <ion-label class="h2-label">{{'footer.FOLLOW_US' | translate}}</ion-label>
          <ion-list class="social-icons">
            <a href="https://www.facebook.com/mypizzahut" rel="nofollow"  target="_blank"  ion-item text-center no-padding no-margin> <img src="assets/imgs/facebook.svg" width="35" alt="facebook" height="35"/> </a>
            <a href="https://twitter.com/PizzaHutkuwait" rel="nofollow" target="_blank" ion-item text-center no-padding no-margin> <img src="assets/imgs/twitter.svg" width="35" alt="twitter" height="35"/> </a> 
            <a href="https://www.instagram.com/pizzahutkuwait/" rel="nofollow" target="_blank" ion-item text-center no-padding no-margin> <img src="assets/imgs/instagram.svg" width="35" alt="instagram" height="35"/> </a> 
            <a href="https://www.youtube.com/user/PizzaHutMiddleEast" rel="nofollow" target="_blank" ion-item text-center no-padding no-margin> <img src="assets/imgs/youtube.svg" width="35" height="35" alt="youtube" /> </a> 
            <a href="https://plus.google.com/103636379878640851018" rel="nofollow" target="_blank" ion-item text-center no-padding no-margin> <img src="assets/imgs/google-plus.svg" width="25" height="25" alt=" googleplus"/> </a> 
          </ion-list> 
      </ion-col> 
    </ion-row>

    <ion-row>
      <ion-col col12 col-center class="copyrights" padding-bottom>
        <div>
          <p text-center> &copy; {{'footer.COPYRIGHT' | translate}}</p>
          <p text-center>{{'footer.USER_MESSAGE' | translate}} </p>
          <p text-center>{{'footer.HURRY_UP' | translate}} </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>