.footer-content {
	background: var(--ion-color-dark);
	ion-col {
		--ion-grid-column-padding: 0px;
	}
	ion-list {
		background: transparent;
		margin: 0 0 16px;
	}
	ion-item {
		--inner-border-width: 0;
		--border-width: 0 !important;
		color: var(--ion-color-light);
		font-size: 13px;
		--min-height: 30px;
		cursor: pointer;
	}
	ion-title {
		position: static;
		height: auto;
		text-align: left;
		font-weight: 600;
		text-transform: uppercase;
		font-size: 14px;
		color: var(--ion-color-light);
	}
	.copyrights p {
		font-size: 12px;
		color: var(--ion-color-light);
  }
  .social-links{
		ion-title{
			text-align: center;
		}
    ul{
      li{
        display: inline-block;
        vertical-align: middle;
        &+li{
          margin-left: 10px;
        }
      }
    }
  }

  @keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
  }

  .skeleton-text {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: 96px;
    position: relative;
  }

  .skeleton-warpper{
    background: #fff;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
    border-radius: 3px;
    height: 12px;
    width: 50px;
  }
}

@media (max-width:991px) {
	.footer-content {
		.f-nutition {
			display: none;
		}
	}
}

@media (min-width: 992px) {
	.footer-content {
		.f-nutition {
			order: 0;
		}
		.f-aboutus {
			order: 1;
		}
		.f-policies {
			order: 2;
		}
		.f-customer {
			order: 3;
		}
		.f-account {
			order: 4;
		}
		.f-terms {
			order: 5;
		}
	}
}


// RTL Support Styles
html {
  &[dir="rtl"] {
    .footer-content {
			ion-title{
				text-align: right;
			}
			.social-links {
				ion-title{
					text-align: center;
				}
			}
		}
  }
}
