<div class="footer-content" padding>
  <ion-grid>
    <ion-row>
      <ion-col size-lg='2' size-xs='6'>
        <ion-title no-padding no-margin>{{ 'footer.menu' | translate }}</ion-title>
        <navigation-widget [componentId]="getComponentId()" pfWidgetImpressionTrack [refCode]="'pwa-kuwait'" [level]=1 [executor]="null"
                           [action]="null"
                           (lifecycle)="null">

          <ng-template let-widget="widget">
            <div *ngIf="widget.model">
              <ion-list>
                <ion-item *ngFor="let navigationItem of widget.model.items" no-padding (click)="navigateToCategory(navigationItem)">{{navigationItem.name}}</ion-item>
              </ion-list>
            </div>
          </ng-template>
        </navigation-widget>
        <ion-hide-when size="lg">
          <ion-list>
            <ion-title no-padding>{{ 'footer.nutrition' | translate }}</ion-title>
            <ion-item no-padding (click)="navigatePage('nutrition')">{{ 'footer.nutrition' | translate }}</ion-item>
          </ion-list>
        </ion-hide-when>
      </ion-col>

      <ion-col size-lg='6' size-xs='6'>
        <ion-row>
          <ion-col size-lg='4' size-xs='12' class="f-nutition">
            <ion-title no-padding>{{ 'footer.nutrition' | translate }}</ion-title>
            <ion-list>
              <ion-item no-padding (click)="navigatePage('nutrition')">{{ 'footer.nutrition' | translate }}</ion-item>
            </ion-list>
          </ion-col>
          <ion-col size-lg='4' size-xs='12' class="f-aboutus">
            <ion-title no-padding>{{ 'footer.about_us' | translate }}</ion-title>
            <ion-list>
              <ion-item no-padding (click)="navigatePage('about-us')">{{ 'footer.about_us' | translate }}</ion-item>
            </ion-list>
          </ion-col>
          <ion-col size-lg='4' size-xs='12' class="f-customer">
            <ion-title no-padding>{{ 'footer.customer_service' | translate }}</ion-title>
            <ion-list>
              <ion-item no-padding (click)="navigatePage('contact-us')">{{ 'footer.contact_us' | translate }}</ion-item>
              <ion-item no-padding (click)="navigatePage('feedback')">{{ 'footer.feedback' | translate }}</ion-item>
              <ion-item no-padding (click)="navigatePage('faq')">{{ 'footer.faqs' | translate }}</ion-item>
            </ion-list>
          </ion-col>
          <ion-col size-lg='4' size-xs='12' class="f-account">
            <ion-title no-padding>{{ 'footer.my_account' | translate }}</ion-title>
            <ion-list>
              <ion-item no-padding (click)="navigatePage('login')">{{ 'footer.signin' | translate }}</ion-item>
              <ion-item no-padding (click)="navigatePage('signup')">{{ 'footer.create_your_account' | translate }}</ion-item>
              <ion-item no-padding (click)="navigatePage('user-profile')">{{ 'footer.my_account' | translate }}</ion-item>
            </ion-list>
          </ion-col>
          <ion-col size-lg='4' size-xs='12' class="f-terms">
            <ion-title no-padding>{{ 'footer.policies' | translate }}</ion-title>
            <ion-list>
              <ion-item no-padding (click)="navigatePage('terms')">{{ 'footer.terms_and_conditions' | translate }}</ion-item>
            </ion-list>
          </ion-col>
          <ion-col size-lg='4' size-xs='12' class="f-policies">
            <ion-title no-padding>{{ 'footer.privacy_policy' | translate }}</ion-title>
            <ion-list>
              <ion-item no-padding (click)="navigatePage('privacy-policy')">{{ 'footer.privacy_policy' | translate }}</ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-col>
      <ion-col size-lg='4' size-xs='12' text-center no-padding class="social-links">
        <ion-title no-padding margin-bottom>{{ 'footer.follow_us' | translate }}</ion-title>
        <ul no-margin no-padding class="social-icons">
          <li>
            <a href="https://www.facebook.com/mypizzahut" rel="nofollow" target="_blank" ion-item text-center no-padding no-margin>
              <img src="assets/imgs/facebook.svg" width="35" alt="facebook" height="35" /> </a>
          </li>
          <li>
            <a href="https://twitter.com/PizzaHutkuwait" rel="nofollow" target="_blank" ion-item text-center no-padding no-margin>
              <img src="assets/imgs/twitter.svg" width="35" alt="twitter" height="35" /> </a>
          </li>
          <li>
            <a href="https://www.instagram.com/pizzahutkuwait/" rel="nofollow" target="_blank" ion-item text-center no-padding
              no-margin>
              <img src="assets/imgs/instagram.svg" width="35" alt="instagram" height="35" /> </a>
          </li>
          <li>
            <a href="https://www.youtube.com/user/PizzaHutMiddleEast" rel="nofollow" target="_blank" ion-item text-center no-padding
              no-margin>
              <img src="assets/imgs/youtube.svg" width="35" height="35" alt="youtube" /> </a>
          </li>
          <li>
            <a href="https://plus.google.com/103636379878640851018" rel="nofollow" target="_blank" ion-item text-center no-padding
              no-margin>
              <img src="assets/imgs/google-plus.svg" width="25" height="25" alt=" googleplus" /> </a>
          </li>
        </ul>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col text-center class="copyrights">
        <div>
          <p> &copy; {{'footer.copyright' | translate}}</p>
          <p>{{'footer.user_message' | translate}} </p>
          <p>{{'footer.hurry_up' | translate}} </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</div>
