
<ion-navbar [hideBackButton]="true" >
  <div> 
    <div class="center-align logo_bg edge-shadow brd-radius">
        <img src="assets/imgs/pizzahut-logo.svg" alt="Pizza Hut"  class="header-img" (click)="goToPage('home')">
    </div>
    <div class="lang-selection">العربية</div>    
    <div (click)="goToPage('login')">
        <div class="profile-icon" >
            <ion-icon name="contact"></ion-icon>
        </div>
    </div>
    <div class="halal-logo" >
        <img src="assets/imgs/halal.png" class="halal-logo" width="35" height="35" alt="halal"/>
    </div>
  </div>
</ion-navbar>