<ion-navbar [hideBackButton]="true" [class]="headerClass">
  <ion-hide-when size="lg">
    <div>
      <div class="center-align logo_bg edge-shadow brd-radius">
        <img src="../../../assets/imgs/pizzahut-logo.svg" alt="Pizza Hut" class="header-img" (click)="goToPage('home')">
      </div>
      <div *ngIf="showLanguage" class="lang-selection" (click)="switchLanguage()">{{ 'header.language' | translate }}
      </div>
      <div *ngIf="showTime" text-uppercase class="delivery-time" (click)="presentSlotModal()">
        <ion-icon name="time" ios="md-time" md="md-time"></ion-icon>
        <span *ngIf="getDeliverySlot()?.id > -1">{{getDeliverySlot()?.time | date:'hh:mm a'}}</span>
        <span *ngIf="getDeliverySlot()?.id == -1">{{ 'header.asap' | translate }}</span>
        <span *ngIf="getDeliverySlot()?.id == -2">{{ 'header.noSlot' | translate }}</span>
      </div>
      <div *ngIf="showUserIcon" (click)="goToPage(getUserModel()?.type === 'GUEST' ? 'login' : 'my-account')">
        <div class="profile-icon">
          <div class="icon icon-user-circle"></div>
        </div>
      </div>
      <div *ngIf="showHalalTag" class="halal-logo">
        <img src="../../../assets/imgs/halal.png" class="halal-logo" width="35" height="35" alt="halal" />
      </div>
      <div *ngIf="showCart" (click)="goToPage('cart')">
        <div class="icon icon-cart cart-logo"></div>
        <div class="cart-count" *ngIf="getCart()?.items.length" [innerHtml]="getCart()?.items.length | number:'2.0-0'"></div>
      </div>
    </div>
  </ion-hide-when>
  <div [ngClass]="{'container': !dealsHeader, 'container-small': dealsHeader}" class="center-align desktop-logo"
    flex-center>
    <img src="../../../assets/imgs/pizzahut-desktop-logo.svg" alt="Pizza Hut" (click)="goToPage('home')">
    <div class="header-right" text-right>
      <div *ngIf="!dealsHeader && showMode" class="delivery-mode">
        <div class="icon" [ngClass]="{'icon-delivery': getDeliveryMode() === deliveryModes.HOME_DELIVERY, 'icon-takeaway': getDeliveryMode() === deliveryModes.PICKUP}"></div>
        <span text-capitalize>{{ 'header.mode' | translate }}:</span>
        <small (click)="goToPage('home')" *ngIf="getDeliveryMode() === deliveryModes.HOME_DELIVERY"
          text-capitalize>{{ 'header.delivery' | translate }}
        </small>
        <small (click)="goToPage('home')" *ngIf="getDeliveryMode() === deliveryModes.PICKUP" text-capitalize>{{
          'header.take_away' | translate }}
        </small>
      </div>
      <div *ngIf="!dealsHeader && !dealsHeadershowLocation" class="delivery-location" (click)="openLocationModal()">
        <span text-capitalize>{{ 'header.location' | translate }}:</span>
        <small text-uppercase>{{getCurrentStore()?.address}}</small>
        <div class="icon icon-arrow-down-2"></div>
      </div>
      <div *ngIf="!dealsHeader && !dealsHeadershowTime" text-uppercase class="delivery-time-large" (click)="presentSlotModal()">
        <ion-icon name="time" ios="md-time" md="md-time"></ion-icon>
        <span *ngIf="getDeliverySlot()?.id > -1">{{getDeliverySlot()?.time | date:'hh:mm a'}}</span>
        <span *ngIf="getDeliverySlot()?.id == -1">{{ 'header.asap' | translate }}</span>
        <span *ngIf="getDeliverySlot()?.id == -2">{{ 'header.noSlot' | translate }}</span>
      </div>
      <div class="signin-register" *ngIf="!dealsHeader && getUserModel()?.userId == 0">
        <div class="icon icon-user-circle" (click)="goToPage('login')"></div>
        <span text-uppercase (click)="goToPage('login')">{{ 'header.sign_in' | translate }} /</span>
        <span text-uppercase (click)="goToPage('signup')">{{ 'header.register' | translate }}</span>
      </div>
      <div class="signin-register loggedin-user" *ngIf="!dealsHeader && getUserModel()?.userId != 0">
        <div class="icon icon-user-circle" (click)="goToPage('login')"></div>
        <span (click)="showDropDown()" text-uppercase>Hello {{getUserModel()?.firstName}}</span>
        <div (click)="showDropDown()" class="icon-arrow icon-arrow-down-2"></div>
        <div class="dropdown" [class.open]="enableUserDropdown">
          <ul>
            <li (click)="goToPage('my-account'); showDropDown()">My Account</li>
            <li (click)="logout(); showDropDown()">Logout
              <logout-widget [componentId]="getComponentId()" [action]="logoutWidgetAction"></logout-widget>
            </li>
            <li (click)="goToPage('order-history'); showDropDown()">My Order History</li>
            <li (click)="goToPage('saved-address'); showDropDown()">My Saved Address</li>
            <li (click)="goToPage('favorites'); showDropDown()">My Favorites</li>
            <li (click)="goToPage('change-password'); showDropDown()">Change Password</li>
          </ul>
        </div>
      </div>
    </div>
    <div class="tabs-nav-head" *ngIf="dealsHeader">
      <div class="showcase-tabs">
        <div class="container">
          <ul no-margin no-padding>
            <li *ngFor="let item of navigations;" text-center [class.selected]="selectedCategoryId ? item.categoryId === selectedCategoryId : item.categoryId === categoryId"
              (click)="switchCategoryPage(item.name, item.categoryId)">{{item.name}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <ion-show-when size="lg">
    <ion-header>
      <div class="tabs-nav-head" *ngIf="headerClass === 'category-header'">

        <div id="showcase" class="menu-container container" flex>
          <div *ngFor="let item of navigations;" text-center [class.selected]="selectedCategoryId ? item.categoryId === selectedCategoryId : item.categoryId === categoryId"
            (click)="switchCategories(item.name, item.categoryId)" class="single-menu-item">{{item.name}}
          </div>
        </div>
      </div>
    </ion-header>

  </ion-show-when>
</ion-navbar>
<navigation-widget [componentId]="getComponentId()" pfWidgetImpressioånTrack [refCode]="'pwa-kuwait'" [level]=1
  [executor]="null" [action]="null" (lifecycle)="null"></navigation-widget>
  