<ion-hide-when size="lg">
  <ion-header>
    <app-header [showHalalTag]="false" [showLanguage]="false"></app-header>
  </ion-header>
</ion-hide-when>
<ion-content>
  <ion-toolbar class="page-header">
    <ion-buttons slot="start">
      <div class="icon icon-arrow-prev-2" (click)="goToPage('login')"></div>
    </ion-buttons>
    <ion-title text-center text-uppercase>{{ 'reset_password_page.reset_password' | translate }}</ion-title>
  </ion-toolbar>
  <div class="main-content w-700">
    <forgot-password-widget class="w-400" [executor]="null" [action]="resetPasswordActionEmitter" (lifecycle)="handleResetPasswordActions($event)">
      <ng-template let-widget="widget">
        <form class="form-section" padding [formGroup]="resetPasswordForm">
          <div class="form-group" [class.error]="resetPasswordForm.get('email').touched && !resetPasswordForm.get('email').valid">
            <ion-label text-uppercase class="login-label" for="email" text-capitalize>{{ 'reset_password_page.email' | translate }}<sup>*</sup></ion-label>
            <div class="form-input">
              <ion-input id="email" placeholder="{{ 'reset_password_page.email_placeholder' | translate }}" inputmode="email" formControlName="email"></ion-input>
              <div class="icons">
                <ion-icon name="alert"></ion-icon>
              </div>
            </div>
            <div *ngIf="resetPasswordForm.get('email').touched">
              <div class="error-msg" *ngIf="resetPasswordForm.get('email').errors?.required">{{ 'reset_password_page.email_required' | translate }}</div>
              <div class="error-msg" *ngIf="resetPasswordForm.get('email').errors?.email">{{ 'reset_password_page.email_valid' | translate }}</div>
            </div>
          </div>
          <ion-button color="medium" (click)="resetPassword()" class="btn-signin" text-capitalize expand="block" mode="ios" [disabled]="!resetPasswordForm.valid">{{ 'reset_password_page.submit' | translate }}</ion-button>
        </form>
      </ng-template>
    </forgot-password-widget>
  </div>
</ion-content>