<ion-hide-when size="lg">
  <ion-header>
    <app-header [showHalalTag]="false" [showLanguage]="false"></app-header>
  </ion-header>
</ion-hide-when>
<ion-content>
  <ion-toolbar class="page-header">
    <ion-buttons slot="start">
      <ion-icon name="arrow-back" ios="ios-arrow-back" md="ios-arrow-back" (click)="goToPage('login')"></ion-icon>
    </ion-buttons>
    <ion-title text-center text-uppercase>Reset Password</ion-title>
  </ion-toolbar>
  <div class="main-content">
    <form class="form-section" padding [formGroup]="passwordResetForm">
      <div class="form-group" [class.error]="passwordResetForm.get('email').touched && !passwordResetForm.get('email').valid">
        <ion-label for="email" text-capitalize>Email</ion-label>
        <div class="form-input">
          <ion-input id="email" placeholder="Please Enter your Email" inputmode="email" formControlName="email"></ion-input>
          <div class="icons">
            <ion-icon name="alert"></ion-icon>
          </div>
        </div>
        <div class="error-msg">Please provide your email</div>
      </div>
      <ion-button color="medium" class="btn-signin" text-capitalize expand="block" mode="ios" [disabled]="!passwordResetForm.valid">Submit</ion-button>
    </form>
  </div>
</ion-content>