.modal-component {
  .content {
    position: relative;
    background: var(--ion-color-light);
    overflow: auto;
    flex: 1;
  }
  .top-block {
    background: var(--ion-color-medium);
    ion-icon {
      color: var(--ion-color-light);
      cursor: pointer;
      position: absolute;
      top: 10px;
      left: 10px;
      z-index: 1;
      font-size: 24px;
    }
  }
}
@media (min-width: 768px) {
  .modal-component {
    &.popup-wrap {
      background: rgba(var(--ion-color-dark-rgb), 0.8);
      .popup-inner {
        height: 80%;
        margin: auto;
        width: 100%;
        max-width: 460px;
      }
    }
  }
}

@media (min-width: 992px) {
  .modal-component {
    &.popup-wrap {
      .popup-inner {
        height: 600px;
        max-width: 700px;
      }
    }
    .content {
      overflow: hidden;
    }
    .content-inner {
      overflow: auto;
      height: 100%;
    }
    .top-block {
      position: fixed;
      width: 250px;
      height: 600px;
      overflow: hidden;
      ion-icon {
        color: var(--ion-color-dark-shade);
      }
    }
  }
}

// RTL styles
html {
  &[dir="rtl"] {
    .modal-component {
      .top-block {
        ion-icon {
          right: 10px;
          left: auto;
        }
      }
    }
  }
}
