<ion-hide-when size="lg">
  <ion-header>
    <app-header [showHalalTag]="true" [showLanguage]="true"></app-header>
  </ion-header>
</ion-hide-when>
<ion-content class="home-page">
  <app-store-selection></app-store-selection>
  <div class="main-container container">
    <app-banner [type]="'RefCode'" [value]="getBannerRefCodeWithLangCode(bannerRefCode)"></app-banner>
    <ion-row margin-bottom justify-content-center padding>
      <ion-col size-xs='12'>
        <ion-button color="success" (click)="navigateToDeals()" text-capitalize expand="block" mode="ios">
          {{'home_page.view_all_deals' | translate}}
        </ion-button>
      </ion-col>
    </ion-row>
  </div>
  <app-footer></app-footer>
</ion-content>

<!-- using cart widget to clear cart when changing store or delivery mode -->
