<ion-header>
  <app-header [showHalalTag]="true" [showLanguage]="true"></app-header>
</ion-header>

<ion-content>
    
  <ion-card>
      <ion-card-content class="mode-selection bx-shadow-4 card-content card-content-md box-shadow-card">
      
        <ion-segment class="box-shadow segment-width no-transition">
          <ion-segment-button text-capitalize value="DELIVERY" class="segment-selection-button margin-right-2px">
            <ion-icon class="icon-delivery"></ion-icon> <span>{{'home_page.delivery' | translate}}</span>
          </ion-segment-button>
          <ion-segment-button text-capitalize value="TAKEAWAY" class="margin-left segment-selection-button">
            <ion-icon class="icon-collection"></ion-icon> <span>{{'home_page.take_away' | translate}}</span>
          </ion-segment-button>
        </ion-segment>
      
        <location-widget [mode]="'geography'" [locator]="'city'" [deliveryMode]="'DELIVERY'" [action]="locationsWidgetAction" (lifecycle)="null">
            <ng-template let-widget="widget">
              <div *ngIf="widget.model != undefined">
                  <ion-item class="segment-width location-bar">
                      
                      <div class="relative">
                          <ion-searchbar [debounce]="1000" [(ngModel)]="selectedCity" #focusInput showCancelButton="false" 
                              placeholder="'please select area'" 
                              (click)="toggleDropDown('city');"
                              (ionInput)="toggleDropDown('city', true, true);filterEntity($event, 'city')" 
                                  class="bx-border brd-radius-5">
                          </ion-searchbar>        
                          <ion-list *ngIf="isDropDownShown" class="location-block-list">
                              <ion-item text-center>
                                  <ion-spinner color="green" name="bubbles">
                                  </ion-spinner>                              
                              </ion-item>    
                          </ion-list>
                          <ion-list *ngIf="isDropDownShown" class="location-block-list citydrp">
                              <ion-item *ngFor="let city of widget.model.cities">
                                  <span (click)="selectCity(city.name)">{{ city.name }}</span>
                              </ion-item>
                          </ion-list>
                      </div>
                  
                      <button ion-button full round class="location-button" color="green">
                          {{'home_page.start_my_order' | translate}}
                      </button>
                  
                  </ion-item>
              </div>
            </ng-template>
        </location-widget>
        
        <div class="find-hut" (click)="locateMe()">
          <span> {{'home_page.find_my_nearest_hut' | translate}}</span>
        </div>
    
      </ion-card-content>
    </ion-card>

    <app-banner></app-banner>
    <app-footer></app-footer>    
</ion-content>
