<ion-header>
  <app-header [showUserIcon]="false" [showHalalTag]="false" [showLanguage]="false"></app-header>
</ion-header>
<ion-content>
  <app-sub-header [title]="'order_details_page.order_details' | translate"></app-sub-header>
  <orders-details-widget [componentId]="getComponentId()" [orderId]="orderId">
    <ng-template let-widget="widget">
      <div *ngIf="(!widget || !widget.model) && !isOrderDetailsLoadingDone">
        <div class="orders-content w-700">
          <ion-list no-margin>
            <ion-item no-padding>
              <ion-label no-margin>
                <h2>Order # {{orderId}}</h2>
                <div class="order-description">
                  <p>
                    <ion-skeleton-text class="p-skeleton"></ion-skeleton-text>
                  </p>
                  <p>
                    <ion-skeleton-text class="p-skeleton"></ion-skeleton-text>
                  </p>
                </div>
                <div class="order-price">
                  <span>{{ 0 | currency: (currencyCode + ' '): true: '1.3-3'}}</span>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>

      </div>

      <div *ngIf="(!widget || !widget.model) && isOrderDetailsLoadingDone">
        <div class="orders-content w-700">
          <ion-list no-margin>
            <ion-item no-padding>
              <ion-label no-margin>
                <h2>Order # {{orderId}}</h2>
                <div class="order-description">
                  <p>
                      Unable to fetch Order Details.
                  </p>
                </div>
                
              </ion-label>
            </ion-item>
          </ion-list>
        </div>
      </div>
      
      
      
      <div *ngIf="widget && widget.model">
    <!-- {{widget.model.getLineItemsOfMainProduct() | json}} -->
        <div class="orders-content w-700">
          <ion-list no-margin>
            <ion-item no-padding>
              <ion-label no-margin>
                <h2>Order # {{orderId}}</h2>
                <div class="order-description">
                  <p *ngFor="let orderLineItem of widget?.model?.getLineItemsOfMainProduct()">
                      {{orderLineItem?.product?.title}} | {{orderLineItem?.qty}}
                  </p>
                </div>
                <div class="order-price">
                  <span>{{ widget.model?.priceDetails?.payableAmount | currency: (currencyCode + ' '): true: '1.3-3'}}</span>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </div>

      </div>
    </ng-template>
  </orders-details-widget>
</ion-content>