<ion-header>
  <app-header [showUserIcon]="false" [showHalalTag]="false" [showLanguage]="false"></app-header>
</ion-header>
<ion-content>
  <app-sub-header [title]="titleValue"></app-sub-header>
  <div class="orders-content w-700">
    <ion-list no-margin>
      <ion-item no-padding>
        <ion-label no-margin>
          <h2>Order # 3207380</h2>
          <div class="order-description">
            <p>Potato Wedges (1)</p>
            <p>Potato Wedges (1)</p>
          </div>
          <div class="order-price">
            <span>KD 3.750</span>
          </div>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>