.orders-content {
  ion-list {
    ion-item {
      padding: 10px;
      margin-bottom: 10px;
      cursor: pointer;
      h2 {
        font-size: 16px;
        font-weight: 600;
        line-height: 2.5;
        margin: 0 0 10px;
      }
      .order-description{
        p{
          font-size: 13px;
          margin-bottom: 10px;
        }
      }
      .order-price {
        margin-top: 20px;
        font-size: 18px;
        color: var(--ion-color-dark-shade);
      }
    }
  }
  .p-skeleton {
    width: 50%;
  }
}

@media (min-width:992px) {
  .orders-content {
    margin: 30px auto;
    ion-list {
      ion-item {
        border: 1px solid var(--ion-color-secondary);
      }
    }
  }
}