.form-section{
    padding: 10px;
}
.remember-block{
    margin-top: 10px;
    ion-item{
        --min-height: 1px;
        font-size: 13px;
    }
    ion-checkbox{
        margin: 0 10px 0 0;
        --border-width: 1px;
        --border-color: var(--ion-color-secondary);
        --background-checked: transparent;
        --ion-color-contrast: var(--ion-color-secondary) !important;
    }
}