<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <app-sub-header [title]="titleValue"></app-sub-header>
  <div class="faq-content w-700">
    <div class="accordion-block">
      <h5 (click)="openAccordion(1)" [class.active]="activeAccordion == 1">
        {{ 'faq_page.faq_accordion1_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 1">
        <p>{{ 'faq_page.faq_accordion1_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(2)" [class.active]="activeAccordion == 2">
          {{ 'faq_page.faq_accordion2_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 2">
          <p>{{ 'faq_page.faq_accordion2_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(3)" [class.active]="activeAccordion == 3">
          {{ 'faq_page.faq_accordion3_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 3">
          <p>{{ 'faq_page.faq_accordion3_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(4)" [class.active]="activeAccordion == 4">
          {{ 'faq_page.faq_accordion4_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 4">
          <p>{{ 'faq_page.faq_accordion4_p1' | translate }} <a (click)="goToPage('my-account')">{{ 'faq_page.faq_accordion4_p1link' | translate }}</a></p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(5)" [class.active]="activeAccordion == 5">
          {{ 'faq_page.faq_accordion5_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 5">
          <p>{{ 'faq_page.faq_accordion5_p1' | translate }}</p>
          <p>{{ 'faq_page.faq_accordion5_p2' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(6)" [class.active]="activeAccordion == 6">
          {{ 'faq_page.faq_accordion6_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 6">
          <p>{{ 'faq_page.faq_accordion6_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(7)" [class.active]="activeAccordion == 7">
          {{ 'faq_page.faq_accordion7_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 7">
          <p>{{ 'faq_page.faq_accordion7_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(8)" [class.active]="activeAccordion == 8">
          {{ 'faq_page.faq_accordion8_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 8">
          <p>{{ 'faq_page.faq_accordion8_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(9)" [class.active]="activeAccordion == 9">
          {{ 'faq_page.faq_accordion9_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 9">
          <p>{{ 'faq_page.faq_accordion9_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(10)" [class.active]="activeAccordion == 10">
          {{ 'faq_page.faq_accordion10_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 10">
          <p>{{ 'faq_page.faq_accordion10_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(11)" [class.active]="activeAccordion == 11">
          {{ 'faq_page.faq_accordion11_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 11">
          <p>{{ 'faq_page.faq_accordion11_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(12)" [class.active]="activeAccordion == 12">
          {{ 'faq_page.faq_accordion12_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 12">
          <p>{{ 'faq_page.faq_accordion12_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(13)" [class.active]="activeAccordion == 13">
          {{ 'faq_page.faq_accordion13_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 13">
          <p>{{ 'faq_page.faq_accordion13_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(14)" [class.active]="activeAccordion == 14">
          {{ 'faq_page.faq_accordion14_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 14">
          <p>{{ 'faq_page.faq_accordion14_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(15)" [class.active]="activeAccordion == 15">
          {{ 'faq_page.faq_accordion15_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 15">
          <p>{{ 'faq_page.faq_accordion15_p1' | translate }}  <a  (click)="goToPage('terms')">{{ 'faq_page.faq_accordion15_p1link' | translate }}</a>
        </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(16)" [class.active]="activeAccordion == 16">
          {{ 'faq_page.faq_accordion16_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 16">
        <p>{{ 'faq_page.faq_accordion16_p1' | translate }}
          <a (click)="goToPage('my-account')">{{ 'faq_page.faq_accordion16_p1link' | translate }}</a> {{ 'faq_page.faq_accordion16_p1end' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(17)" [class.active]="activeAccordion == 17">
          {{ 'faq_page.faq_accordion17_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 17">
        <p>{{ 'faq_page.faq_accordion17_p1' | translate }}
           <a (click)="goToPage('login')">{{ 'faq_page.faq_accordion17_p1link' | translate }}</a> {{ 'faq_page.faq_accordion17_p1end' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(18)" [class.active]="activeAccordion == 18">
          {{ 'faq_page.faq_accordion18_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 18">
        <p>{{ 'faq_page.faq_accordion18_p1' | translate }}
          <a (click)="goToPage('my-account')">{{ 'faq_page.faq_accordion18_p1link' | translate }}</a> {{ 'faq_page.faq_accordion18_p1end' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(19)" [class.active]="activeAccordion == 19">
          {{ 'faq_page.faq_accordion19_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 19">
        <p>{{ 'faq_page.faq_accordion19_p1' | translate }}
          <a (click)="goToPage('home')">{{ 'faq_page.faq_accordion19_p1link' | translate }}</a> {{ 'faq_page.faq_accordion19_p1end' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(20)" [class.active]="activeAccordion == 20">
          {{ 'faq_page.faq_accordion20_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 20">
        <p>{{ 'faq_page.faq_accordion20_p1' | translate }}
          <a (click)="goToPage('feedback')">{{ 'faq_page.faq_accordion20_p1link' | translate }}</a>
        </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(21)" [class.active]="activeAccordion == 21">
          {{ 'faq_page.faq_accordion21_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 21">
        <p>{{ 'faq_page.faq_accordion21_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(22)" [class.active]="activeAccordion == 22">
          {{ 'faq_page.faq_accordion22_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 22">
        <p>{{ 'faq_page.faq_accordion22_p1' | translate }}
          <a (click)="goToPage('nutrition')">{{ 'faq_page.faq_accordion22_p1link' | translate }}</a>
        </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(23)" [class.active]="activeAccordion == 23">
          {{ 'faq_page.faq_accordion23_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 23">
        <p>{{ 'faq_page.faq_accordion23_p1' | translate }}
          <a (click)="goToPage('contact-us')">{{ 'faq_page.faq_accordion23_p1link' | translate }}</a> {{ 'faq_page.faq_accordion23_p1end' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(24)" [class.active]="activeAccordion == 24">
          {{ 'faq_page.faq_accordion24_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 24">
        <p>{{ 'faq_page.faq_accordion24_p1' | translate }}
          <a (click)="goToPage('home')">{{ 'faq_page.faq_accordion24_p1link' | translate }}</a> {{ 'faq_page.faq_accordion24_p1end' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(25)" [class.active]="activeAccordion == 25">
          {{ 'faq_page.faq_accordion25_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 25">
        <p>{{ 'faq_page.faq_accordion25_p1' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(26)" [class.active]="activeAccordion == 26">
          {{ 'faq_page.faq_accordion26_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 26">
        <p>{{ 'faq_page.faq_accordion26_p1' | translate }}
          <a (click)="goToPage('contact-us')">{{ 'faq_page.faq_accordion26_p1link' | translate }}</a> {{ 'faq_page.faq_accordion26_p1end' | translate }}</p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(27)" [class.active]="activeAccordion == 27">
          {{ 'faq_page.faq_accordion27_head' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 27">
        <p>{{ 'faq_page.faq_accordion27_p1' | translate }}
          <a (click)="goToPage('privacy-policy')">{{ 'faq_page.faq_accordion27_p1link' | translate }}</a>
        </p>
      </div>
    </div>
  </div>
</ion-content>
