.contact-content{
  padding: 40px 15px;
  color: var(--ion-color-secondary-shade);
  h6{
    margin: 0 0 5px;
    font-size: 14px;
    font-weight: 700;
  }
  p{
    font-size: 14px;
    margin: 0 0 10px 0;
    line-height: 22px;
    a{
      color: var(--ion-color-secondary-shade);
    }
  }
}