<div class="full-height">
  <ion-content bg-transparent padding>
    <div class="modal-close">
      <ion-icon name="close" color-light></ion-icon>
    </div>
    <div class="w-700">
      <div class="delivery-hut" color-light>{{'dealer_selection_page.delivery_hut' | translate}}
        <strong>Abdulla Al Mubarak</strong>
      </div>
      <div class="as-soon-possible">
        <ion-button color="warning" class="btn-light" text-capitalize mode="ios" (click)="toggleCheckbox()">
          <ion-checkbox [checked]="asSoonPossible" color="light"></ion-checkbox> {{'dealer_selection_page.as_soon_as_possible' | translate}}</ion-button>
      </div>
      <div class="order-for-later" color-light>
        {{'dealer_selection_page.order_for_later' | translate}}
        <strong>{{'dealer_selection_page.pick_a_time' | translate}}</strong>
      </div>
      <div class="available-slots-list">
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">ASAP</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
        <ion-button color="warning" class="btn-light" expand="block" text-uppercase mode="ios">10:30 AM</ion-button>
      </div>
    </div>
  </ion-content>
  <ion-footer no-border>
    <ion-button color="success" text-capitalize expand="block" mode="ios" class="btn-success">{{'dealer_selection_page.order_for' | translate}}
      <span text-uppercase>ASAP</span> {{'dealer_selection_page.delivery' | translate}}</ion-button>
  </ion-footer>
</div>