<delivery-slots-widget class="full-height" [globalSlots]="true" [componentId]="getComponentId()">
  <ng-template let-widget="widget">
    <ng-container *ngIf="widget.model">
      <ion-content bg-transparent padding>
        <div class="modal-close">
          <ion-icon name="close" color-light></ion-icon>
        </div>
        <div class="w-700">
          <div class="delivery-hut" color-light>{{'dealer_selection_page.delivery_hut' | translate}}
            <strong [innerHtml]="getCurrentStore()?.name" text-capitalize></strong>
          </div>
          <div class="as-soon-possible" *ngIf="widget.model[0].id == -1">
            <ion-button color="warning" class="btn-light" text-capitalize mode="ios" (click)="toggleCheckbox()">
              <ion-checkbox [checked]="asSoonPossible" color="light"></ion-checkbox> {{'dealer_selection_page.as_soon_as_possible' | translate}}</ion-button>
          </div>
          <div class="order-for-later" color-light>
            {{'dealer_selection_page.order_for_later' | translate}}
            <strong>{{'dealer_selection_page.pick_a_time' | translate}}</strong>
          </div>
          <div class="available-slots-list">
            <ion-button *ngFor="let slot of widget.model; let i = index;" [class.selected]="activeTimeSlot == (i+1)" color="warning"
              class="btn-light" expand="block" text-uppercase mode="ios" (click)="selectTime(slot.time, i+1)">
              <span *ngIf="slot.id != -1">{{slot.time | date:'hh:mm a'}}</span>
              <span *ngIf="slot.id == -1">ASAP</span>
            </ion-button>
          </div>
        </div>
      </ion-content>
      <ion-footer no-border>
        <ion-button color="success" [class.disabled]="!slotSelected" text-capitalize expand="block" mode="ios" class="btn-success">{{'dealer_selection_page.order_for' | translate}}
          <span text-uppercase *ngIf="slotContent && widget.model[0].id != -1">{{slotContent | date:'hh:mm a'}}</span>
          <span text-uppercase *ngIf="slotContent && widget.model[0].id == -1">{{slotContent}}</span> {{'dealer_selection_page.delivery' | translate}}</ion-button>
      </ion-footer>
    </ng-container>
  </ng-template>
</delivery-slots-widget>
