<ion-header>
  <ion-toolbar>
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <cart-widget [componentId]="getComponentId()" [action]="cartWidgetActions">
    <ng-template let-widget="widget">
      <ng-container *ngIf="widget.model">
        <div *ngIf="widget.model.items && widget.model.items.length">
          <div *ngFor="let item of widget.model.items">
            <img src="{{'http://' + item.client.image}}">
            <p>{{item.client.title}}</p>
            <p>{{item.client.price}}</p>
          </div>
        </div>
      </ng-container>
    </ng-template>

  </cart-widget>

</ion-content>
