<cart-widget class="full-height" [componentId]="getComponentId()" [action]="cartWidgetAction">
  <ng-template let-widget="widget">
    <ng-container *ngIf="!globalSharedService.getCart() || !globalSharedService.getCart()?.items">
      <div class="full-height">
        <ion-content>
          <!-- <p>{{widget.model | json }}</p> -->
          <div class="basket-container">
            <div class="basket">
              <div class="basket-close" (click)="goBack()">{{ 'cart.close' | translate}}</div>
              <div class="common-heading-dotted" text-center>
                <h2 text-uppercase no-margin>{{ 'cart.your_cart' | translate}}</h2>
              </div>
              <ion-list no-margin>
                <ion-item no-padding>
                  <ion-label no-margin>
                    <div>
                      <div class="skeleton-warpper">
                        <ion-skeleton-text class="skeleton-text"></ion-skeleton-text>
                      </div>
                      <div class="skeleton-warpper">
                        <ion-skeleton-text class="skeleton-text h2-skeleton"></ion-skeleton-text>
                      </div>
                      <div class="skeleton-warpper">
                        <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                      </div>
                    </div>
                  </ion-label>
                  <div class="tooltip">{{ 'cart.update_cart_message' | translate}}</div>
                </ion-item>
                <ion-item no-padding>
                  <ion-label no-margin>
                    <div>
                      <div class="skeleton-warpper">
                        <ion-skeleton-text class="skeleton-text"></ion-skeleton-text>
                      </div>
                      <div class="skeleton-warpper">
                        <ion-skeleton-text class="skeleton-text h2-skeleton"></ion-skeleton-text>
                      </div>
                      <div class="skeleton-warpper">
                        <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                      </div>
                    </div>
                  </ion-label>
                </ion-item>
              </ion-list>
              <div flex-center class="total-bill-block">
                <div class="total-bill">
                  <div class="skeleton-warpper">
                    <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                  </div>
                </div>
              </div>
              <div class="promotion-button">
                <ion-button color="light" text-capitalize expand="block" mode="md" class="btn-voucher"
                            (click)="showVoucherModal()">{{ 'cart.got_a_voucher_code_?' | translate}}
                </ion-button>
              </div>
            </div>
          </div>
        </ion-content>
        <ion-footer>
          <ion-button color="success" disabled="true" text-capitalize expand="block" mode="ios" class="btn-success">{{
            'cart.continue' | translate}}
          </ion-button>
        </ion-footer>
      </div>
    </ng-container>

    <ng-container *ngIf="globalSharedService.getCart() && globalSharedService.getCart()?.items && globalSharedService.getCart()?.items.length == 0">
      <div class="full-height">
        <ion-content>
          <!-- <p>{{widget.model | json }}</p> -->
          <div class="basket-container">
            <div class="basket">
              <div class="basket-close" (click)="goBack()">{{ 'cart.close' | translate}}</div>
              <div class="common-heading-dotted" text-center>
                <h2 text-uppercase no-margin>{{ 'cart.your_cart' | translate}}</h2>
              </div>
              <div class="empty-cart">
                <p>{{ 'cart.empty_cart_message_1' | translate}}</p>
                <p class="underline" (click)="goToDeals()">{{ 'cart.empty_cart_message_2' | translate}}</p>
              </div>
              <div class="promotion-button">
                <ion-button color="light" text-capitalize expand="block" mode="md" class="btn-voucher"
                            (click)="showVoucherModal()">{{ 'cart.got_a_voucher_code_?' | translate}}
                </ion-button>
              </div>
            </div>
          </div>
        </ion-content>
      </div>
    </ng-container>


    <ng-container *ngIf="widget.model">
      <div class="full-height" *ngIf="globalSharedService.getCart().items && globalSharedService.getCart()?.items.length">
        <ion-content>
          <!-- <p>{{widget.model | json }}</p> -->
          <div class="basket-container">
            <div class="basket">
              <div class="basket-close" (click)="goBack()">{{ 'cart.close' | translate}}</div>
              <div class="common-heading-dotted" text-center>
                <h2 text-uppercase no-margin>{{ 'cart.your_cart' | translate}}</h2>
              </div>
              <ion-list no-margin>
                <ion-item no-padding *ngFor="let item of globalSharedService.getCart()?.items; let i = index">
                  <ion-label no-margin>
                    <div flex-center>
                      <div class="product-title">{{item.description}}</div>
                      <div class="add-remove">
                        <ion-icon name="remove-circle" (click)="updateCartItemQuantity(item, -1)"></ion-icon>
                        <span>{{item.quantity}}</span>
                        <ion-icon name="add-circle" (click)="updateCartItemQuantity(item, 1)"></ion-icon>
                      </div>
                      <div class="product-price">{{item.mrp | currency: currencyCode : (currencyCode + ' ') :'1.3-3'}}</div>
                      <ion-icon class="remove-icon" name="close-circle" (click)="removeCartItem(item)"></ion-icon>
                    </div>
                  </ion-label>
                  <div *ngIf="i === 0" class="tooltip">{{ 'cart.update_cart_message' | translate}}</div>
                </ion-item>
              </ion-list>
              <div flex-center class="delivery-bill-block">
                <div class="total-bill">{{ 'cart.delivery_fee' | translate}} </div>
                <div class="total-price">{{globalSharedService.getCart()?.shippingCost | currency: currencyCode : (' ' + currencyCode + ' ') :'1.3-3'}}</div>
              </div>
              <div flex-center class="total-bill-block">
                <div class="total-bill">{{ 'cart.your_total' | translate}} </div>
                <div class="total-price">{{globalSharedService.getCart()?.productCost | currency: currencyCode : (' ' + currencyCode + ' ') :'1.3-3'}}</div>
              </div>
              <div class="promotion-button">
                <ion-button color="light" text-capitalize expand="block" mode="md" class="btn-voucher"
                            (click)="showVoucherModal()">{{ 'cart.got_a_voucher_code_?' | translate}}
                </ion-button>
              </div>
            </div>
          </div>
        </ion-content>
        <ion-footer>
          <ion-button color="success" text-capitalize expand="block" mode="ios" class="btn-success">{{ 'cart.continue' |
            translate}}
            &nbsp;<span>{{ globalSharedService.getCart()?.total | currency: currencyCode : (currencyCode + ' ') :'1.3-3'}}</span>
          </ion-button>
        </ion-footer>
      </div>
    </ng-container>
  </ng-template>
</cart-widget>

<div class="voucher-modal-wrap" *ngIf="enableVoucherModal">
  <div class="voucher-modal" padding>
    <ion-icon class="close-icon" name="close-circle" (click)="showVoucherModal()"></ion-icon>
    <h3 text-uppercase text-center>{{ 'cart.got_a_voucher_code_?' | translate}}</h3>
    <p>{{ 'cart.voucher_description' | translate}}
      <a (click)="goToDeals()">{{ 'cart.exclusive_offers' | translate}}</a>
    </p>
    <div class="form-section" flex-center>
      <ion-input placeholder="Voucher code" inputmode="text" [(ngModel)]="couponCode"></ion-input>
      <ion-button color="success" text-uppercase expand="block" mode="ios" class="btn-success" (click)="applyCoupon()">
        {{ 'cart.apply' | translate}}
      </ion-button>
    </div>
    <br>
    <p *ngIf="isWrongVoucher">{{ 'cart.no_voucher_message_1' | translate}}
      <a class="underline" (click)="goToDeals()">{{ 'cart.no_voucher_message_2' | translate}}</a>
      {{ 'cart.no_voucher_message_3' | translate}}
    </p>
  </div>
</div>
