ion-header{
  background: var(--ion-color-light);
  --ion-toolbar-background-color: transparent;
  ion-buttons{
    pointer-events: all;
    margin: 0 5px;
  }
}

.use-gps{
  cursor: pointer;
  --background: var(--ion-color-light-tint);
  margin-bottom: 10px;
  .icon{
    font-size: 22px;
  }
  ion-label{
    font-size: 13px;
    margin: 12.5px;
    span{
      display: block;
      font-size: 12px;
      color: var(--ion-tabs-color);
    }
  }
}
.search-gps{
  --background: var(--ion-color-light-tint);
  margin-bottom: 10px;
  --min-height: 60px;
  ion-icon{
    font-size: 22px;
  }
  ion-label{
    font-size: 14px;
    margin: 12.5px;
    color: var(--ion-color-secondary-shade);
  }
}
.search-results{
  ion-item{
    cursor: pointer;
    margin-bottom: 20px;
    --min-height: inherit;
    .icon{
      font-size: 18px;
    }
    ion-label{
      font-size: 14px;
      margin: 0 0 0 34.5px;
    }
  }
}
.recent-searches{
  ion-item{
    cursor: pointer;
    margin-bottom: 20px;
    --min-height: inherit;
    ion-label{
      font-size: 14px;
      margin: 0 0 0 16.5px;
    }
  }
}
.close-icon{
  display: none;
}
@media(min-width:768px){
  .search-address-modal{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(var(--ion-color-dark-rgb), .8);
  }
  .search-address-wrap{
    margin: auto;
    width: 500px;
    height: 525px;
  }
  .close-icon{
    position: absolute;
    top: 8px;
    right: 8px;
    display: block;
    font-size: 20px;
    cursor: pointer;
    color: var(--ion-color-medium-shade);
  }
  ion-header{
    padding: 20px 20px 10px 0px;
  }
}
