.coomon-heading {
    position: relative;
    h2 {
        position: relative;
        padding: 0 10px;
        display: inline-block;
        font-size: 20px;
        color: var(--ion-color-secondary-shade);
        font-weight: 700;
        background: var(--ion-color-light);
    }
    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        border-bottom: 1px solid var(--ion-color-secondary-tint);
    }
}

.page-header {
    ion-icon {
        font-size: 24px;
    }
    ion-title {
        font-size: 22px;
        font-weight: 500;
        color: var(--ion-color-secondary-shade);
    }
}
[flex]{
    display: flex;
}
.form-group {
    margin-bottom: 5px;
    ion-label {
        margin: 5px 0;
        font-weight: 600;
        font-size: 13px;
        color: var(--ion-color-secondary);
    }
    ion-input{
        font-size: 13px;
        border: 2px solid rgba(var(--ion-color-secondary-rgb),0.5);
        border-radius: 4px;
        transition: all 0.3s ease-in-out;
        &.has-focus{
            border-color: var(--ion-color-dark);
        }
    }
    .form-input{
        position: relative;
        .icons{
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            margin-top: 2px;
            font-size: 20px;
            ion-icon[name="alert"]{
                color: var(--ion-color-danger);
            }
            ion-icon{
                color: var(--ion-color-secondary-tint);
            }
            ion-icon{
                &+ion-icon{
                    margin-left: 10px;
                }
            }
        }
    }
    .error-msg{
        margin: 5px 8px 0;
        font-size: 12px;
        color: var(--ion-color-danger);
    }
}