<cart-widget class="full-height cart-page" [componentId]="getComponentId()" [action]="cartWidgetAction">
  <ng-template let-widget="widget">
    <ng-container *ngIf="!getCart() || !getCart()?.items">
      <div class="full-height">
        <ion-content>
          <div class="basket-container">
            <div class="basket">
              <div class="basket-close" (click)="goBack()">{{ 'cart.close' | translate}}</div>
              <div class="common-heading-dotted" text-center>
                <h2 text-uppercase no-margin>{{ 'cart.your_cart' | translate}}</h2>
              </div>
              <div class="cart-list">
                <div class="cart-item" no-padding>
                  <ion-label no-margin>
                    <div>
                      <div class="skeleton-warpper">
                        <ion-skeleton-text class="skeleton-text"></ion-skeleton-text>
                      </div>
                      <div class="skeleton-warpper">
                        <ion-skeleton-text class="skeleton-text h2-skeleton"></ion-skeleton-text>
                      </div>
                      <div class="skeleton-warpper">
                        <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                      </div>
                    </div>
                  </ion-label>
                  <div class="tooltip">{{ 'cart.update_cart_message' | translate}}</div>
                </div>
                <div class="cart-item" no-padding>
                  <ion-label no-margin>
                    <div>
                      <div class="skeleton-warpper">
                        <ion-skeleton-text class="skeleton-text"></ion-skeleton-text>
                      </div>
                      <div class="skeleton-warpper">
                        <ion-skeleton-text class="skeleton-text h2-skeleton"></ion-skeleton-text>
                      </div>
                      <div class="skeleton-warpper">
                        <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                      </div>
                    </div>
                  </ion-label>
                </div>
              </div>
              <div flex-center class="total-bill-block">
                <div class="total-bill">
                  <div class="skeleton-warpper">
                    <ion-skeleton-text class="skeleton-text p-skeleton"></ion-skeleton-text>
                  </div>
                </div>
              </div>
              <div class="promotion-button">
                <button type="button" text-center text-capitalize class="btn-voucher" (click)="showVoucherModal()">{{ 'cart.got_a_voucher_code' | translate}}
                </button>
              </div>
            </div>
          </div>
        </ion-content>
        <ion-footer>
          <ion-button (click)="goToPage('checkout')" color="success" disabled="true" text-capitalize expand="block" mode="ios" class="btn-success">{{ 'cart.continue' | translate}}
          </ion-button>
        </ion-footer>
      </div>
    </ng-container>

    <ng-container *ngIf="getCart() && getCart()?.items && getCart()?.items.length == 0">
      <div class="full-height">
        <ion-content>
          <div class="basket-container">
            <div class="basket">
              <div class="basket-close" (click)="goBack()">{{ 'cart.close' | translate}}</div>
              <div class="common-heading-dotted" text-center>
                <h2 text-uppercase no-margin>{{ 'cart.your_cart' | translate}}</h2>
              </div>
              <div class="empty-cart">
                <p>{{ 'cart.empty_cart_message_1' | translate}}
                  <a class="underline" (click)="goToDeals()">{{ 'cart.empty_cart_message_2' | translate}}</a>
                </p>
              </div>
              <!-- <div class="promotion-button">
                  <button type="button" text-center text-capitalize class="btn-voucher" (click)="showVoucherModal()">{{
                    'cart.got_a_voucher_code' | translate}}
                  </button>
                </div> -->
            </div>
          </div>
        </ion-content>
      </div>
    </ng-container>


    <ng-container *ngIf="getCart()">
      <div class="full-height" *ngIf="getCart()?.items && getCart()?.items.length">
        <ion-content>
          <div class="basket-container">
            <div class="basket">
              <div class="basket-close" (click)="goBack()">{{ 'cart.close' | translate}}</div>
              <div class="common-heading-dotted" text-center>
                <h2 text-uppercase no-margin>{{ 'cart.your_cart' | translate}}</h2>
              </div>
              <div class="scrolling-cart">
                <div class="cart-list">
                  <div class="cart-item" *ngFor="let item of getCart()?.items; let i = index">

                    <div flex-center>
                      <div class="product-title" (click)="editCartItem(item)">{{item?.description}}
                      </div>

                      <div class="add-remove">
                        <ion-icon name="remove-circle" [pfRemoveFromCartTrack]="{cart: [item], quantity: 1}" appDebounceClick [inputDebounceTime]="'300'"
                          (debounceClick)="updateCart($event, item?.client, false)"></ion-icon>
                        <!-- <ion-icon name="remove-circle" (click)="updateCartItemQuantityNoDebounce(item?.client, -1);"></ion-icon> -->
                        <span>{{item.quantity}}</span>
                        <ion-icon name="add-circle" [pfAddToCartTrack]="{cart: [item], quantity: 1}" appDebounceClick [inputDebounceTime]="'300'"
                          (debounceClick)="updateCart($event, item?.client, true)"></ion-icon>
                        <!-- <ion-icon name="add-circle" (click)="updateCartItemQuantityNoDebounce(item?.client, 1);"></ion-icon> -->
                      </div>
                      <div class="product-price">{{(item?.getPrice() * item.quantity) | currency: currencyCode : (currencyCode + ' ') :'1.3-3'}}
                      </div>
                      <ion-icon class="remove-icon" name="close-circle" [pfRemoveFromCartTrack]="{cart: [item]}" (click)="confirmRemove(item?.client)">

                      </ion-icon>
                    </div>
                    <div class="toppings">
                      <ng-container *ngIf="item.getType() === product">
                        <div>{{item?.getVariant()}}</div>
                      </ng-container>
                      <ng-container *ngIf="item.getType() === bundle || item.getType() === deal">
                        <ng-container *ngFor="let bundleItem of item?.bundleItems">
                          <div *ngIf="!bundleItem?.isPrimaryProduct && !bundleItem?.isDefaultBundleItem && !bundleItem?.webPrice">
                            {{bundleItem?.description}}
                          </div>
                          <div *ngIf="bundleItem?.isPrimaryProduct">{{bundleItem?.getVariant()}}</div>
                          <div *ngIf="!bundleItem?.isPrimaryProduct && bundleItem?.webPrice" flex-center>
                            <div>{{ 'cart.add' | translate}} {{bundleItem?.description}}</div>
                            <div>+ {{bundleItem?.webPrice | currency: currencyCode : (currencyCode + ' ') :'1.3-3'}}</div>
                          </div>
                        </ng-container>
                      </ng-container>
                    </div>
                    <div *ngIf="i === 0" class="tooltip">{{ 'cart.update_cart_message' | translate}}</div>
                  </div>
                  <div class="applied-voucher-block" *ngIf="getCart()?.getPromotionDiscount() > 0">
                    <div class="applied-vocher-code" flex-center>
                      <span>{{getCart()?.getPromotionDiscount() | currency: currencyCode : (' ' + currencyCode + ' ') :'1.3-3'}}</span>
                      <ion-icon name="close-circle" (click)="removeCoupon(getCart()?.getVoucherCode())"></ion-icon>
                    </div>
                  </div>
                </div>

                <div class="promotion-button">
                  <button type="button" text-center text-capitalize class="btn-voucher" (click)="showVoucherModal()">{{ 'cart.got_a_voucher_code' | translate}}
                  </button>
                </div>

                <suggestions-widget [componentId]="getComponentId()" pfWidgetImpressionTrack [action]="suggestionWidgetAction">
                  <ng-template let-widget="widget">
                    <div class="suggestions-wrap" *ngIf="suggestionsLoaded && widget?.model?.length">
                      <h6 text-center>{{ 'cart.you_may_also_like' | translate}}</h6>
                      <ion-slides [options]="slideOpts">
                        <ion-slide class="product-card-holder" *ngFor="let prod of widget?.model; let idx=index">
                          <ion-card class="product-card non-deal-card suggestion-card" no-padding [pfProductClickTrack]="{products:[prod], position:idx}"
                            (click)="openProductDetails(prod?.client)">
                            <div *ngIf="isLoggedIn()" class="icon" [ngClass]="{'icon-favourite-active': prod?.isFavorite,'icon-favourite': !prod?.isFavorite, 'fav-progress': favoriteInProgress.get(prod.id)}"
                              (click)="updateFavorites(prod?.isFavorite, prod?.client); $event.stopPropagation();"></div>
                            <ion-card-header no-padding>
                              <img height="100" src="{{getProductImageUrl(prod)}}" img-preloader="{{getProductImageUrl(prod)}}" defaultImage="assets/imgs/default/default.png"
                                loadingImage="assets/imgs/default/default.png" />
                            </ion-card-header>

                            <ion-card-content padding>
                              <ion-card-subtitle class="product-title" color="dark">{{prod.title}}
                              </ion-card-subtitle>
                              <div class="price-segment" text-end>
                                <p>{{'category_listing.price_tag' | translate }}
                                  <span class="label-price">{{prod.webPrice | currency: currencyCode : (currencyCode + ' ') :'1.3-3'}}</span>
                                </p>
                              </div>
                            </ion-card-content>
                          </ion-card>
                        </ion-slide>
                      </ion-slides>
                    </div>
                  </ng-template>
                </suggestions-widget>
              </div>
            </div>
          </div>
        </ion-content>
        <ion-footer>
          <div flex-center class="delivery-bill-block">
            <ng-container *ngIf="(getCart()?.getPromotionDiscount()  + getCart()?.getVoucherDiscount()) > 0">
              <div class="total-bill">{{ 'cart.discount' | translate}}</div>
              <div class="total-price">
                {{(getCart()?.getPromotionDiscount() + getCart()?.getVoucherDiscount()) | currency: currencyCode : (' ' + currencyCode +
                ' ') :'1.3-3'}}
              </div>
            </ng-container>
          </div>
          <div flex-center class="delivery-bill-block">
            <ng-container *ngIf="getCart()?.getShippingCost()">
              <div class="total-bill">{{ 'cart.delivery_fee' | translate}}</div>
              <div class="total-price">{{getCart()?.getShippingCost() | currency: currencyCode : (' ' + currencyCode + ' ') :'1.3-3'}}
              </div>
            </ng-container>
          </div>
          <div flex-center class="total-bill-block">
            <div class="total-bill">{{ 'cart.your_total' | translate}}</div>
            <span *ngIf="!updatingPrice">
              <div class="total-price">{{getCart()?.getTotal() | currency: currencyCode : (' ' + currencyCode + ' ') :'1.3-3'}}</div>
            </span>
            <span *ngIf="updatingPrice">
              <ion-spinner name="crescent" color="dark"></ion-spinner>
            </span>
          </div>
          <ion-button (click)="goToPage('checkout')" [pfCheckoutTrack]="{cart: getCart()}" color="success" text-capitalize expand="block"
            [class.disabled]="updatingPrice" mode="ios" class="btn-success">
            {{ 'cart.continue' | translate}} &nbsp;
            <span class="btn-price" *ngIf="updatingPrice">
              <ion-spinner name="crescent" color="dark"></ion-spinner>
            </span>
            <span class="btn-price" *ngIf="!updatingPrice">{{ getCart()?.getTotal() | currency: currencyCode : (currencyCode + ' ') :'1.3-3'}}</span>
          </ion-button>
        </ion-footer>
      </div>
    </ng-container>
  </ng-template>
</cart-widget>

<div class="voucher-modal-wrap" *ngIf="enableVoucherModal">
  <div class="voucher-modal" padding>
    <ion-icon class="close-icon" name="close-circle" (click)="showVoucherModal()"></ion-icon>
    <h3 text-uppercase text-center>{{ 'cart.got_a_voucher_code' | translate}}</h3>
    <p>{{ 'cart.voucher_description' | translate}}
      <a (click)="goToDeals()">{{ 'cart.exclusive_offers' | translate}}</a>
    </p>
    <div class="form-section" flex-center>
      <ion-input placeholder="{{ 'cart.voucher_code' | translate}}" inputmode="text" [(ngModel)]="couponCode"></ion-input>
      <ion-button color="success" text-uppercase expand="block" mode="ios" class="btn-success" (click)="applyCoupon()">
        {{ 'cart.apply' | translate}}
      </ion-button>
    </div>
    <br>
    <p *ngIf="isWrongVoucher">{{ 'cart.no_voucher_message_1' | translate}}
      <a class="underline" (click)="goToDeals()">{{ 'cart.no_voucher_message_2' | translate}}</a>
      {{ 'cart.no_voucher_message_3' | translate}}
    </p>
  </div>
</div>

<div class="clearcart-modal" *ngIf="removeItemPopup">
  <div class="clearcart-popup">
    <p flex-center>{{ 'cart.confirm_remove' | translate}}</p>
    <div flex-center>
      <ion-button (click)="dismissRemoveItemPopup()" color="medium" text-capitalize expand="block" mode="ios" class="btn-dismiss clearcart-dismiss">
        {{ 'cart.dismiss' | translate }}
      </ion-button>
      <ion-button (click)="dismissRemoveItemPopup();removeCartItem(true)" color="success" text-capitalize expand="block" mode="ios"
        class="btn-success clearcart-confirm ">
        {{ 'cart.confirm' | translate }}
      </ion-button>
    </div>
  </div>
</div>