.buttons-group{
    margin-top: 30px;
}
.main-content{
    .form-group{
        ion-label{
            sup{
                font-size: 15px;
                top: -0.1em;
            }
        }
    }
}

@media (min-width:992px) {
    .btn-success{
        text-transform: uppercase !important;
        max-width: 140px;
        margin: auto;
    }
}