<ion-header>
  <app-header [showUserIcon]="false" [showHalalTag]="false" [showLanguage]="false"></app-header>
</ion-header>
<ion-content>
  <app-sub-header [title]="titleValue"></app-sub-header>
  <div class="main-content w-700">
    <user-profile-widget [componentId]="getComponentId()" [executor]="null" [action]="updateProfileActionEmitter">
      <ng-template let-widget="widget">
        <form class="form-section w-400" padding [formGroup]="profileForm">
          <div class="form-group"
               [class.error]="profileForm.get('firstName').touched && !profileForm.get('firstName').valid">
            <ion-label for="firstName" text-capitalize>{{ 'user_profile_page.fname' | translate }}
              <sup>*</sup>
            </ion-label>
            <div class="form-input">
              <ion-input id="firstName" placeholder="{{ 'user_profile_page.fname_placeholder' | translate }}"
                         inputmode="text" formControlName="firstName"
                         value="{{profileForm.get('firstName').value}}"></ion-input>
              <div class="icons">
                <ion-icon name="alert"></ion-icon>
              </div>
            </div>
            <div *ngIf="profileForm.get('firstName').touched">
              <div class="error-msg" *ngIf="profileForm.get('firstName').errors?.required">{{
                'user_profile_page.fname_required' | translate }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <ion-label for="lastName" text-capitalize>{{ 'user_profile_page.lname' | translate }}</ion-label>
            <div class="form-input">
              <ion-input id="lastName" placeholder="{{ 'user_profile_page.lname_placeholder' | translate }}"
                         inputmode="text" formControlName="lastName"
                         value="{{profileForm.get('lastName').value}}"></ion-input>
            </div>
          </div>
          <div class="form-group"
               [class.error]="profileForm.get('mobileNo').touched && !profileForm.get('mobileNo').valid">
            <ion-label for="mobile" text-capitalize>{{ 'user_profile_page.mobile' | translate }}
              <sup>*</sup>
            </ion-label>
            <div class="form-input mobile-input">
              <span>965</span>
              <ion-input id="mobile" placeholder="{{ 'user_profile_page.mobile_placeholder' | translate }}"
                         inputmode="text" formControlName="mobileNo"
                         value="{{profileForm.get('mobileNo').value}}"></ion-input>
              <div class="icons">
                <ion-icon name="alert"></ion-icon>
              </div>
            </div>
            <div *ngIf="profileForm.get('mobileNo').touched">
              <div class="error-msg" *ngIf="profileForm.get('mobileNo').errors?.required">{{
                'user_profile_page.mobile_required' | translate }}
              </div>
              <div class="error-msg" *ngIf="profileForm.get('mobileNo').errors?.pattern">{{
                'user_profile_page.mobile_valid' | translate }}
              </div>
              <div class="error-msg"
                   *ngIf="!profileForm.get('mobileNo').errors?.pattern && (profileForm.get('mobileNo').errors?.minlength ||  profileForm.get('mobileNo').errors?.maxlength)">
                {{ 'user_profile_page.mobile_digits' | translate }}
              </div>
            </div>
          </div>
          <div class="form-group">
            <ion-label for="email" text-capitalize>{{ 'user_profile_page.email' | translate }}
              <sup>*</sup>
            </ion-label>
            <div class="form-input">
              <ion-input id="email" disabled placeholder="{{ 'user_profile_page.email_placeholder' | translate }}"
                         inputmode="email" formControlName="alternateEmail"
                         value="{{profileForm.get('alternateEmail').value}}"></ion-input>
            </div>
          </div>
          <div class="buttons-group">
            <ion-button color="success" class="btn-success" text-capitalize
                        expand="block" mode="ios"
                        (click)="updateProfile()" [class.disabled]="!profileForm.valid || !profileForm.dirty || updateInProgress">{{
              'user_profile_page.save_profile' | translate }}
              <!-- <ion-spinner *ngIf="updateInProgress" color="primary" name="circles"></ion-spinner> -->
            </ion-button>
          </div>
        </form>
      </ng-template>
    </user-profile-widget>
  </div>
</ion-content>
