<ion-header>
  <app-header [showHalalTag]="false" [showLanguage]="false"></app-header>
</ion-header>
<ion-content>
  <ion-toolbar class="page-header">
    <ion-buttons slot="start">
      <div class="icon icon-arrow-prev-2" (click)="goToPage('home')"></div>
    </ion-buttons>
    <ion-title text-center text-uppercase>{{'my_account_page.my_account' | translate}}</ion-title>
  </ion-toolbar>
  <div class="my-account-wrap w-700">
    <ion-list no-margin>
      <ion-item (click)="goToPage('user-profile')" no-padding text-capitalize>{{'my_account_page.my_profile' | translate}}
        <div class="icon icon-arrow-next-2"></div>
      </ion-item>
      <ion-item (click)="goToPage('change-password')" no-padding text-capitalize>{{'my_account_page.change_password' | translate}}
        <div class="icon icon-arrow-next-2"></div>
      </ion-item>
      <ion-item (click)="goToPage('order-history')" no-padding text-capitalize>{{'my_account_page.order_history' | translate}}
        <div class="icon icon-arrow-next-2"></div>
      </ion-item>
      <ion-item (click)="goToPage('saved-address')" no-padding text-capitalize>{{'my_account_page.saved_address' | translate}}
        <div class="icon icon-arrow-next-2"></div>
      </ion-item>
      <ion-item (click)="goToPage('favorites')" no-padding text-capitalize>{{'my_account_page.my_favourites' | translate}}
        <div class="icon icon-arrow-next-2"></div>
      </ion-item>
      <ion-item (click)="goToPage('home')" no-padding text-capitalize>{{'my_account_page.logout' | translate}}
        <div class="icon icon-arrow-next-2"></div>
      </ion-item>
    </ion-list>
  </div>
</ion-content>