.my-account-wrap {
    ion-item {
        font-size: 15px;
        border-bottom: 1px solid var(--ion-account-border-color);
        --min-height: 60px;
        padding: 0 15px;
        position: relative;
        cursor: pointer;
        ion-icon{
            position: absolute;
            right: 0px;
        }
    }
}

@media (min-width:992px){
    .my-account-wrap {
        margin: 40px auto;
        border: 1px solid var(--ion-color-medium-tint);
    }
}