.feedback-content {
  .form-group {
    ion-label {
      font-size: 14px;
      sup {
        font-size: 14px;
        top: -0.1em;
        color: red;
      }
    }
  }
  .btn-success {
    max-width: 180px;
    margin: 20px auto;
  }
}