<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <app-sub-header [title]="titleValue"></app-sub-header>
  <div class="privacy-content w-700">
    <div class="privacy-text">
      <p>{{ 'privacy_page.privacy_text_p1' | translate }} </p>
      <p>{{ 'privacy_page.privacy_text_p2' | translate }} </p>
      <ul>
        <li>{{ 'privacy_page.privacy_text_qtn1' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn2' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn3' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn4' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn5' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn6' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn7' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn8' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn9' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn10' | translate }} </li>
      </ul>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(1)" [class.active]="activeAccordion == 1">
        {{ 'privacy_page.privacy_text_qtn1' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 1">
        <p>{{ 'privacy_page.privacy_accordion1_p1' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion1_p2' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion1_p3' | translate }} </p>
        <ul>
          <li>{{ 'privacy_page.privacy_accordion1_list1' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion1_list2' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion1_list3' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion1_list4' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion1_list5' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion1_list6' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion1_list7' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion1_list8' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion1_list9' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion1_list10' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion1_list11' | translate }}</li>
        </ul>
        <p>{{ 'privacy_page.privacy_accordion1_p4' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion1_p5' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(2)" [class.active]="activeAccordion == 2">
        {{ 'privacy_page.privacy_text_qtn2' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 2">
        <p>{{ 'privacy_page.privacy_accordion2_p1' | translate }} </p>
        <ul>
          <li>{{ 'privacy_page.privacy_accordion2_list1' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion2_list2' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion2_list3' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion2_list4' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion2_list5' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion2_list6' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion2_list7' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion2_list8' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion2_list9' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion2_list10' | translate }}</li>
        </ul>
        <p>{{ 'privacy_page.privacy_accordion2_p2' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(3)" [class.active]="activeAccordion == 3">
        {{ 'privacy_page.privacy_text_qtn3' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 3">
        <p>{{ 'privacy_page.privacy_accordion3_p1' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion3_p2' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion3_p3' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion3_p4' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(4)" [class.active]="activeAccordion == 4">
        {{ 'privacy_page.privacy_text_qtn4' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 4">
        <p>{{ 'privacy_page.privacy_accordion4_p1' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(5)" [class.active]="activeAccordion == 5">
        {{ 'privacy_page.privacy_text_qtn5' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 5">
        <p>{{ 'privacy_page.privacy_accordion5_p1' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(6)" [class.active]="activeAccordion == 6">
        {{ 'privacy_page.privacy_text_qtn6' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 6">
        <p>{{ 'privacy_page.privacy_accordion6_p1' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion6_p3' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion6_p3' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(7)" [class.active]="activeAccordion == 7">
        {{ 'privacy_page.privacy_text_qtn7' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 7">
        <p>{{ 'privacy_page.privacy_accordion7_p1' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(8)" [class.active]="activeAccordion == 8">
        {{ 'privacy_page.privacy_text_qtn8' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 8">
        <p>{{ 'privacy_page.privacy_accordion8_p1' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(9)" [class.active]="activeAccordion == 9">
        {{ 'privacy_page.privacy_text_qtn9' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 9">
        <p>{{ 'privacy_page.privacy_accordion9_p1' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion9_p2' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(10)" [class.active]="activeAccordion == 10">
        {{ 'privacy_page.privacy_text_qtn10' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 10">
        <p>{{ 'privacy_page.privacy_accordion10_p1' | translate }}
          <a href="mailto:info@pizzahut.me">info@pizzahut.me</a>
        </p>
      </div>
    </div>
  </div>
</ion-content>