.privacy-text {
  padding: 30px 15px 0;
  p {
    margin: 0 0 10px;
    color: var(--ion-color-secondary-shade);
    font-size: 14px;
    line-height: 22px;
  }
  ul{
    padding-left: 25px;
    margin: 0 0 15px;
    font-size: 14px;
    line-height: 22px;
  }
}