<ion-header>
  <app-header></app-header>
</ion-header>
<ion-content>
  <app-sub-header [title]="'privacy_page.privacy_policy' | translate"></app-sub-header>
  <div class="privacy-content w-700">
    <div class="privacy-text">
      <p>{{ 'privacy_page.privacy_text_p01' | translate }} </p>
      <p>{{ 'privacy_page.privacy_text_p02' | translate }} </p>
      <ul>
        <li>{{ 'privacy_page.privacy_text_qtn01' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn02' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn03' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn04' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn05' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn06' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn07' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn08' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn09' | translate }} </li>
        <li>{{ 'privacy_page.privacy_text_qtn10' | translate }} </li>
      </ul>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(1)" [class.active]="activeAccordion == 1">
        {{ 'privacy_page.privacy_text_qtn01' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 1">
        <p>{{ 'privacy_page.privacy_accordion01_p1' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion01_p2' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion01_p3' | translate }} </p>
        <ul>
          <li>{{ 'privacy_page.privacy_accordion01_list01' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion01_list02' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion01_list03' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion01_list04' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion01_list05' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion01_list06' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion01_list07' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion01_list08' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion01_list09' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion01_list10' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion01_list11' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion01_list12' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion01_list13' | translate }}</li>
        </ul>
        <p>{{ 'privacy_page.privacy_accordion01_p4' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion01_p5' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(2)" [class.active]="activeAccordion == 2">
        {{ 'privacy_page.privacy_text_qtn02' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 2">
        <p>{{ 'privacy_page.privacy_accordion02_p1' | translate }} </p>
        <ul>
          <li>{{ 'privacy_page.privacy_accordion02_list01' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion02_list02' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion02_list03' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion02_list04' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion02_list05' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion02_list06' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion02_list07' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion02_list08' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion02_list09' | translate }}</li>
          <li>{{ 'privacy_page.privacy_accordion02_list10' | translate }}</li>
        </ul>
        <p>{{ 'privacy_page.privacy_accordion02_p2' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(3)" [class.active]="activeAccordion == 3">
        {{ 'privacy_page.privacy_text_qtn03' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 3">
        <p>{{ 'privacy_page.privacy_accordion03_p1' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion03_p2' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion03_p3' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion03_p4' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(4)" [class.active]="activeAccordion == 4">
        {{ 'privacy_page.privacy_text_qtn04' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 4">
        <p>{{ 'privacy_page.privacy_accordion04_p1' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(5)" [class.active]="activeAccordion == 5">
        {{ 'privacy_page.privacy_text_qtn05' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 5">
        <p>{{ 'privacy_page.privacy_accordion05_p1' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(6)" [class.active]="activeAccordion == 6">
        {{ 'privacy_page.privacy_text_qtn06' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 6">
        <p>{{ 'privacy_page.privacy_accordion06_p1' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion06_p2' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion06_p3' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(7)" [class.active]="activeAccordion == 7">
        {{ 'privacy_page.privacy_text_qtn07' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 7">
        <p>{{ 'privacy_page.privacy_accordion07_p1' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(8)" [class.active]="activeAccordion == 8">
        {{ 'privacy_page.privacy_text_qtn08' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 8">
        <p>{{ 'privacy_page.privacy_accordion08_p1' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(9)" [class.active]="activeAccordion == 9">
        {{ 'privacy_page.privacy_text_qtn09' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 9">
        <p>{{ 'privacy_page.privacy_accordion09_p1' | translate }} </p>
        <p>{{ 'privacy_page.privacy_accordion09_p2' | translate }} </p>
      </div>
    </div>
    <div class="accordion-block">
      <h5 (click)="openAccordion(10)" [class.active]="activeAccordion == 10">
        {{ 'privacy_page.privacy_text_qtn10' | translate }}
        <div class="icon icon-arrow-down-2"></div>
      </h5>
      <div class="accordion-content" *ngIf="activeAccordion == 10">
        <p>{{ 'privacy_page.privacy_accordion10_p1' | translate }}
          <a href="mailto:info@pizzahut.me">info@pizzahut.me</a>
        </p>
      </div>
    </div>
  </div>
</ion-content>