<ion-header>
  <app-header [showUserIcon]="false" [showHalalTag]="false" [showLanguage]="false"></app-header>
</ion-header>
<ion-content>
  <app-sub-header [title]="titleValue"></app-sub-header>
  <div class="saved-addresses w-700">
    <user-address-widget [componentId]="getComponentId()" [action]="userAddressWidgetActions">
      <ng-template let-widget="widget">
        <ng-container *ngIf="!widget || !widget.model">
          <ion-list no-margin>
            <ion-item no-padding *ngFor="let address of [0,1]">
              <ion-label>
                <h6><ion-skeleton-text class="h1-skeleton"></ion-skeleton-text>
                  <ion-icon class="close" name="close-circle"></ion-icon>
                </h6>
                <div class="address-details">
                  <p text-capitalize><ion-skeleton-text class="p-skeleton"></ion-skeleton-text></p>
                  <p text-capitalize><ion-skeleton-text class="p2-skeleton"></ion-skeleton-text></p>
                  <p text-capitalize><ion-skeleton-text class="p2-skeleton"></ion-skeleton-text></p>
                  <p text-right class="edit">{{'saved_address_page.edit' | translate}}</p>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </ng-container>


        <ng-container *ngIf="widget && widget.model">
          <!-- <p>{{widget.model | json}}</p> -->
          <div *ngIf="!widget.model.length" class="no-address">{{'saved_address_page.no_saved_address' | translate}}</div>
          <ion-list no-margin *ngIf="widget.model.length">
            <ion-item no-padding *ngFor="let address of widget.model">
              <ion-label>
                <h6>{{address.addressType}}
                  <ion-icon (click)="deleteAddress(address)" class="close" name="close-circle"></ion-icon>
                </h6>
                <div class="address-details">
                  <p text-capitalize>{{address.detail}}</p>
                  <p text-capitalize>{{getFlatAddress(address.landmark, 0)}}</p>
                  <p text-capitalize>{{getFlatAddress(address.landmark, 1)}}</p>
                  <p text-right class="edit" (click)="goToPage('add-address', address.id)">{{'saved_address_page.edit' | translate}}</p>
                </div>
              </ion-label>
            </ion-item>
          </ion-list>
        </ng-container>
      </ng-template>
    </user-address-widget>
  </div>
</ion-content>
<ion-footer no-border class="saved-addresses-footer">
  <ion-button color="success" text-uppercase expand="block" mode="ios" class="btn-success" (click)="goToPage('add-address', 0)">{{'saved_address_page.add_new_address' | translate}}</ion-button>
</ion-footer>

<div class="delete-address-modal full-height" *ngIf="toggleDeleteModal">
  <div class="delete-address-wrap">
    <p text-center>{{'saved_address_page.sure_remove_address' | translate}}</p>
    <div class="buttons-group" flex-center>
      <ion-button color="dark" (click)="dismissAddressModal(false)" text-uppercase expand="block" mode="ios" class="btn-dismiss">{{'saved_address_page.dismiss' | translate}}</ion-button>
      <ion-button color="success" (click)="dismissAddressModal(true)" text-uppercase expand="block" mode="ios" class="btn-success">{{'saved_address_page.confirm' | translate}}</ion-button>
    </div>
  </div>
</div>