<ion-header>
  <ion-toolbar>
    <ion-title>location</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-icon name="close-circle" class="btn-close" (click)="dismiss()"></ion-icon>
  
  <div class="geo-location-address">
      <p> {{'location?.formated'}} </p>
  </div>


  <app-location-map></app-location-map>
</ion-content>

<ion-footer padding-top>
    <button type="submit" full ion-button round color="green" class="button-border full-button" (click)="confirmLocation()">
        <span style="color:#fff">{{ 'location_page.confirm_and_proceed' | translate }} </span>
    </button>
</ion-footer>
