<navigation-widget [componentId]="getComponentId()" pfWidgetImpressionTrack [refCode]="refcode" [level]=1 [executor]="navigationWidgetExecutor"
                   [action]="navigationWidgetAction"
                   (lifecycle)="handleWidgetLifecycle($event)">

  <ng-template let-widget="widget">
    <div *ngIf="widget.model">
      <ion-buttons>
        <ion-button *ngFor="let navigationItem of widget.model.items" (click)="navigateToCategory(navigationItem)">
          {{navigationItem.name}}
        </ion-button>
      </ion-buttons>
    </div>
  </ng-template>
</navigation-widget>
